@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'maledpan';
  src: url('../font/maledpan/maledpan-regular-webfont.eot');
  src: url('../font/maledpan/maledpan-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/maledpan/maledpan-regular-webfont.woff') format('woff'), url('../font/maledpan/maledpan-regular-webfont.ttf') format('truetype'), url('../font/maledpan/maledpan-regular-webfont.svg#mitr') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #ffffff;
  overflow-x: hidden;
}
body.fillcolor {
  background: #2962ff;
}
body.paper {
  background: #FFFFFF;
}
.autosize {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
body {
  background: #ffffff;
  overflow-x: hidden;
}
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 0%;
  float: left;
  display: inline-block;
  height: 56px;
  z-index: 999;
}
.header .status {
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  height: 16px;
  padding: 20px 1%;
  font-size: 1em;
  line-height: 1em;
  color: #DDDDDD;
}
.header .status:hover {
  cursor: default;
}
.header .btn-profile {
  width: 36px;
  height: 36px;
  padding: 10px;
  float: left;
  display: inline-block;
}
.header .btn-profile img {
  width: 100%;
  float: left;
  display: inline-block;
  border-radius: 50%;
}
.header .btn-icon {
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  width: 56px;
  height: 20px;
  padding: 18px 0%;
  border-radius: 3px;
  line-height: 1em;
  color: #999999;
  text-decoration: none;
  text-align: center;
  font-size: 1.25em;
}
.header .btn-icon.right {
  float: right;
}
.header .btn-icon:hover {
  cursor: pointer;
}
.header .btn-icon:active {
  color: #333333;
}
.header .btn {
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  height: 16px;
  padding: 10px 18px;
  margin: 10px 8px;
  border-radius: 5px;
  font-size: 1em;
  line-height: 1em;
  color: #666666;
  text-decoration: none;
}
.header .btn.right {
  float: right;
}
.header .btn.active {
  background: #2962ff;
  color: #FFFFFF;
}
.header .btn.active:hover {
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}
.header .btn:hover {
  cursor: pointer;
}
.header .version {
  width: 23%;
  float: left;
  display: inline-block;
  height: 16px;
  padding: 20px 1%;
  font-size: 0.75em;
  color: #EEEEEE;
  font-style: italic;
}
.header .version:hover {
  cursor: default;
}
.header a.menu {
  float: left;
  display: inline-block;
  padding: 16px 0%;
  height: 24px;
  margin-right: 2%;
  font-family: "maledpan", sans-serif;
  font-size: 1.05em;
  text-decoration: none;
  color: #333333;
}
.header a.menu span {
  margin-left: 10px;
}
.header a.menu:hover {
  cursor: pointer;
}
.header a.menu.active {
  color: #2962ff;
}
.page-form {
  width: 50%;
  margin: 10% 25%;
  float: left;
  display: inline-block;
  margin-top: 112px;
}
.page-form h1 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 2.4em;
  font-family: "maledpan", sans-serif;
  color: #333333;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-bottom: 1px solid #EEEEEE;
  line-height: 1em;
}
.page-form .section {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.page-form .section h2 {
  font-family: "maledpan", sans-serif;
  font-weight: normal;
  font-size: 1.8em;
  color: #333333;
  margin-bottom: 2%;
  line-height: 1em;
}
.page-form .section p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1em;
  margin-bottom: 3%;
  color: #666666;
  line-height: 1.6em;
}
.page-form .section p strong {
  color: #333333;
}
.page-form .section p a {
  color: #2962ff;
}
.page-form .section p.note {
  text-align: right;
  font-size: 0.75em;
  margin-bottom: 0;
  color: #999999;
  font-style: italic;
}
.page-form .section input[type="text"],
.page-form .section textarea {
  width: 100%;
  padding: 2.5%;
  float: left;
  display: inline-block;
  font-size: 1em;
  border-radius: 5px;
  border: 1px solid #F0F0F0;
  color: #333333;
  background: #F0F0F0;
  margin: 0px;
  resize: none;
  line-height: 1.3em;
  box-sizing: border-box;
  margin-bottom: 1%;
}
.page-form .section input[type="text"]:hover,
.page-form .section textarea:hover {
  cursor: pointer;
}
.page-form .section input[type="text"]:focus,
.page-form .section textarea:focus {
  background: #FFFFFF;
  border: 1px solid #2962ff;
}
.page-form .section .select {
  width: 50%;
  float: left;
  display: inline-block;
  position: relative;
  margin-right: 15px;
}
.page-form .section .select.number {
  width: 10%;
}
.page-form .section .select:after {
  content: '';
  border-top: 8px solid #BBBBBB;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 18px;
  pointer-events: none;
}
.page-form .section .select select {
  width: 100%;
  margin: 0%;
  float: left;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1em;
  border: 1px solid #DDDDDD;
  line-height: 1em;
  padding: 15px;
  background: #FFFFFF;
  font-family: "maledpan", sans-serif;
  color: #333333;
  border-radius: 5px;
}
.page-form .section .select select:hover {
  cursor: pointer;
  border: 1px solid #999999;
}
.page-form .section .select select:focus {
  border: 1px solid #2962ff;
  color: #2962ff;
}
.page-form .section button {
  float: right;
  display: inline-block;
  background: #2962ff;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "maledpan", sans-serif;
  font-size: 1.05em;
  line-height: 1em;
  padding: 15px;
  border-radius: 5px;
  border: 0;
  margin: 0;
  box-shadow: 0px 3px 7px rgba(0, 0, 0, 0.3);
}
.page-form .section button i {
  margin-left: 15px;
}
.page-form .section button:hover {
  cursor: pointer;
  background: #2979ff;
}
.page-form .section button.btn-delete {
  float: left;
  background: #EEEEEE;
  color: #F44336;
  font-weight: bold;
  box-shadow: none;
}
.page-form .section .list {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
}
.page-form .section .list input[type="file"] {
  display: none;
}
.page-form .section .list form {
  display: none;
}
.page-form .section .list .items {
  width: 18.4%;
  float: left;
  display: inline-block;
  box-sizing: border-box;
  margin-bottom: 2%;
  margin-right: 2%;
  border: 3px solid transparent;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.page-form .section .list .items:nth-child(5n+0) {
  margin-right: 0;
}
.page-form .section .list .items img {
  width: 100%;
  float: left;
  display: inline-block;
}
.page-form .section .list .items .fa-check-circle {
  display: none;
}
.page-form .section .list .items.active {
  border: 3px solid #2962ff;
  box-shadow: 0px 5px 20px rgba(100, 100, 100, 0.2);
}
.page-form .section .list .items.active .fa-check-circle {
  position: absolute;
  right: 10%;
  bottom: 10%;
  display: block;
  font-size: 1.4em;
  color: #2962ff;
}
.page-form .section .list .items.btn-add-cover {
  padding: 6.8% 0%;
  text-align: center;
  color: #999999;
  border: 2px dashed #999999;
}
.page-form .section .list .items.btn-add-cover i {
  font-size: 1.6em;
}
.page-form .section .list .items.btn-add-cover:hover {
  border: 2px dashed #2962ff;
  color: #2962ff;
}
.page-form .section .list .items:hover {
  cursor: pointer;
}
.page-form .section .location-current {
  width: 100%;
  padding: 2.5%;
  float: left;
  display: inline-block;
  background: #e9efff;
  box-sizing: border-box;
  color: #2962ff;
  line-height: 1em;
  font-size: 1em;
  line-height: 1.3em;
  position: relative;
  border-radius: 5px;
  margin-bottom: 1%;
}
.page-form .section .location-current:hover {
  cursor: default;
}
.page-form .section .location-current:hover .btn {
  color: #F44336;
}
.page-form .section .location-current .btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 0.8em;
  line-height: 1em;
  color: transparent;
}
.page-form .section .location-current .btn:hover {
  cursor: pointer;
}
.page-form .section ul {
  width: 100%;
  float: left;
  display: inline-block;
  margin: 0;
  padding: 0;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
}
.page-form .section ul .location-items {
  width: 100%;
  padding: 2.5%;
  float: left;
  display: inline-block;
  color: #333333;
  line-height: 1.5em;
  border-bottom: 1px solid #EEEEEE;
  box-sizing: border-box;
  font-size: 1em;
  line-height: 1em;
}
.page-form .section ul .location-items:last-child {
  border-bottom: 0;
}
.page-form .section ul .location-items i {
  float: right;
  color: transparent;
}
.page-form .section ul .location-items:hover,
.page-form .section ul .location-items.selected {
  background: #2962ff;
  color: #FFFFFF;
  border-bottom: 1px solid #2962ff;
  cursor: pointer;
}
.page-form .section ul .location-items:hover i,
.page-form .section ul .location-items.selected i {
  color: #FFFFFF;
}
.page-form .section .location-list {
  width: 100%;
  float: left;
  display: inline-block;
}
.page-form .section .location-list .location-items {
  width: 96%;
  padding: 2%;
  float: left;
  display: inline-block;
  border-bottom: 1px solid #EEEEEE;
}
.page-form .section .location-list .location-items i {
  margin-right: 7px;
}
.page-form .section .location-list .location-items:hover {
  cursor: pointer;
  background: #EEEEEE;
}
.page-form .section .tag {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 2%;
}
.page-form .section .tag .tag-items {
  float: left;
  display: inline-block;
  background: #e9efff;
  color: #2962ff;
  padding: 2%;
  line-height: 1em;
  border-radius: 5px;
  margin-right: 1%;
  margin-bottom: 1%;
  position: relative;
}
.page-form .section .tag .tag-items .name:hover {
  cursor: default;
}
.page-form .section .tag .tag-items .btn-remove-tag {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 0.7em;
  line-height: 1em;
  color: transparent;
}
.page-form .section .tag .tag-items .btn-remove-tag:hover {
  cursor: pointer;
  color: #F44336 !important;
}
.page-form .section .tag .tag-items:hover .btn-remove-tag {
  color: #2962ff;
}
.page-form .section .inputWrapper {
  width: 100%;
  float: left;
  display: table;
  border-radius: 5px;
  overflow: hidden;
  box-sizing: border-box;
  border-collapse: separate;
}
.page-form .section .inputWrapper span {
  width: 1%;
  padding: 2.5% 0;
  padding-right: 10px;
  white-space: nowrap;
  vertical-align: middle;
  display: table-cell;
  font-size: 1em;
  line-height: 1em;
  color: #2962ff;
  font-weight: bold;
}
.page-form .section .inputWrapper span:hover {
  cursor: default;
}
.page-form .section .address-list {
  width: 100%;
  float: left;
  display: inline-block;
}
.page-form .section .address-list .items {
  float: left;
  display: inline-block;
  padding: 10px;
  border: 1px solid transparent;
  border-radius: 5px;
  line-height: 1em;
  color: #666666;
}
.page-form .section .address-list .items:hover {
  cursor: pointer;
}
.page-form .section .address-list .items.active {
  color: #4CAF50;
  border: 1px solid #4CAF50;
}
.page-form .section .address-list .items.unselect {
  color: #BBBBBB;
}
.editor {
  width: 100%;
  padding-bottom: 15%;
  float: left;
  display: inline-block;
}
.editor form {
  display: none;
}
.editor .article-header {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 0%;
  margin-top: 56px;
  float: left;
  display: inline-block;
}
.editor .article-header.with-cover {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  margin: 0px;
  position: relative;
  z-index: 20;
}
.editor .article-header.with-cover span {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 50%;
  padding: 10% 25%;
  float: left;
  display: inline-block;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}
.editor .article-header.with-cover img {
  width: 100%;
  float: left;
  display: inline-block;
}
.editor .article-header.with-cover .btn {
  color: rgba(255, 255, 255, 0.5);
}
.editor .article-header.with-cover .btn:hover {
  color: #FFFFFF;
}
.editor .article-header.with-cover textarea {
  color: #FFFFFF;
}
.editor .article-header .btn {
  float: right;
  display: inline-block;
  font-size: 1.4em;
  padding: 2%;
  color: #BBBBBB;
}
.editor .article-header .btn:hover {
  cursor: pointer;
  color: #333333;
}
.editor .article-header textarea {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 0;
  margin: 0;
  resize: none;
  border: 0px;
  background: transparent;
  font-size: 3em;
  font-family: "maledpan", sans-serif;
  line-height: 1.2em;
  min-height: 50px;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.editor .article-header textarea:hover {
  cursor: pointer;
}
.editor .content {
  width: 50%;
  margin: 0% 25%;
  margin-bottom: 2%;
  float: left;
  display: inline-block;
  position: relative;
}
.editor .content:hover .control .info {
  color: #CCCCCC;
}
.editor .content:hover .control .btn {
  color: #BBBBBB;
}
.editor .content .control {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 1%;
}
.editor .content .control .info {
  float: left;
  display: inline-block;
  font-size: 0.9em;
  line-height: 1em;
  padding: 8px 0%;
  font-style: italic;
  color: transparent;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.editor .content .control .info:hover {
  cursor: default;
}
.editor .content .control .btn {
  float: right;
  display: inline-block;
  border: 0px;
  font-size: 1em;
  line-height: 1em;
  padding: 6px 9px;
  color: transparent;
  border-radius: 5px;
  transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -webkit-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
}
.editor .content .control .btn:hover {
  color: #999999;
  cursor: pointer;
}
.editor .content .control .btn:hover span {
  text-decoration: underline;
}
.editor .content .control .btn:active {
  background: #DDDDDD;
}
.editor .content .control .btn.hidden {
  display: none;
}
.editor .content .control .btn span {
  margin-left: 7px;
  font-size: 0.9em;
}
.editor .content.youtube .youtube_url {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  padding: 2% 0%;
  margin: 0;
  border: 0;
  text-align: center;
  background: #EEEEEE;
  border-radius: 5px;
}
.editor .content.youtube .videoWrapper {
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 2%;
  height: 0;
}
.editor .content.youtube .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.editor .content.youtube .videoWrapper.hidden {
  display: none;
}
.editor .content.quote i.fa-quote-left,
.editor .content.quote i.fa-quote-right {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 2.4em;
  color: #EEEEEE;
}
.editor .content.quote i.fa-quote-right {
  text-align: right;
}
.editor .content.quote .quote-body {
  width: 90%;
  padding: 1% 5%;
  float: left;
  display: inline-block;
  font-size: 2.2em;
  line-height: 1.3em;
  color: #666666;
  border: 0;
  margin: 0;
  background: transparent;
  resize: none;
  font-style: italic;
}
.editor .content.quote .quote-cite {
  width: 80%;
  padding: 1% 10%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin: 0px;
  border: 0px;
  color: #333333;
  background: transparent;
  text-align: right;
}
.editor .content.textbox .textbox-topic {
  width: 100%;
  padding: 1.2% 0%;
  float: left;
  display: inline-block;
  font-size: 1.6em;
  margin: 0px;
  border: 0px;
  color: #111111;
  background: transparent;
  line-height: 1.3em;
}
.editor .content.textbox .textbox-topic:hover {
  cursor: pointer;
}
.editor .content.textbox .textbox-body {
  width: 100%;
  padding: 1% 0%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #666666;
  border: 0;
  margin: 0;
  background: transparent;
  resize: none;
}
.editor .content .embed-map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 450px;
  float: left;
  background: #EEEEEE;
  color: #BBBBBB;
  font-size: 1.2em;
}
.editor .content.photoForm img {
  width: 100%;
  float: left;
  display: inline-block;
}
.editor .content .uploading {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  float: left;
  display: inline-block;
  background: rgba(255, 255, 255, 0.8);
  display: none;
}
.editor .content .uploading .inprogress {
  width: 80%;
  margin: 10%;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 5px;
}
.editor .content .uploading .inprogress .bar {
  width: 30%;
  float: left;
  display: inline-block;
  background: #3bed8d;
  background: -webkit-linear-gradient(to right, #3bed8d, #38acc5);
  background: linear-gradient(to right, #3bed8d, #38acc5);
  height: 5px;
  border-radius: 5px;
}
.editor .content img {
  width: 100%;
  float: left;
  display: inline-block;
}
.editor .content .alt {
  width: 98%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 1em;
  border: 0px;
  padding: 2% 1%;
  background: transparent;
  font-style: italic;
  color: #999999;
}
.editor .content .alt.hidden {
  display: none;
}
.editor .content .image-file {
  display: none;
}
.editor .content .preview {
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
}
.editor .content .preview .imgpreview {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  background: #DEDEDE;
}
.editor .content .preview .imgpreview img {
  width: 100%;
  float: left;
  display: inline-block;
}
.editor .content .preview .imgpreview .btn-choose-image {
  width: 100%;
  padding: 25% 0%;
  float: left;
  display: inline-block;
}
.editor .content .preview .imgpreview .btn-choose-image i {
  display: block;
  font-size: 4em;
  margin-bottom: 10px;
  color: #FFFFFF;
}
.editor .content .preview .imgpreview .btn-choose-image span {
  display: block;
  font-size: 0.9em;
  color: #FFFFFF;
}
.editor .content .preview .imgpreview .btn-choose-image:hover {
  cursor: pointer;
  text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.editor .content .preview .image-option {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 94%;
  margin: 3%;
  float: left;
  display: inline-block;
}
.editor .content .preview .image-option .btn {
  float: right;
  display: inline-block;
  padding: 8px 16px;
  border-radius: 20px;
  line-height: 1em;
  color: #FFFFFF;
  border: 1px solid #FFFFFF;
  font-size: 0.75em;
  margin-left: 8px;
}
.editor .content .preview .image-option .btn i {
  margin-right: 8px;
}
.editor .content .preview .image-option .btn:hover {
  cursor: pointer;
  background: rgba(255, 255, 255, 0.2);
}
.editor .tools-bar {
  width: 50%;
  margin: 5% 25%;
  float: left;
  display: inline-block;
  border-top: 1px solid #EEEEEE;
}
.editor .tools-bar i {
  margin: 0;
}
.editor .tools-bar .btn-tool {
  float: left;
  display: inline-block;
  padding: 2.5%;
  font-size: 1.25em;
  line-height: 1em;
  background: transparent;
  color: #999999;
  border-radius: 5px;
  font-family: "maledpan", sans-serif;
}
.editor .tools-bar .btn-tool:hover {
  cursor: pointer;
  color: #333333;
}
.editor .between-option {
  width: 50%;
  padding: 0.5% 0%;
  margin: 0% 25%;
  margin-bottom: 2%;
  float: left;
  display: inline-block;
  position: relative;
  border-radius: 20px;
}
.editor .between-option:hover {
  cursor: pointer;
  background: #EEEEEE;
}
.editor .between-option .more-option {
  position: absolute;
  top: 5%;
  left: 0;
  width: 50%;
  margin: 0% 25%;
  float: left;
  display: none;
  background: #333333;
  z-index: 100;
  border-radius: 5px;
  overflow: hidden;
}
.editor .between-option .more-option .btnAction {
  width: 20%;
  padding: 2% 0%;
  padding-top: 3%;
  float: left;
  display: inline-block;
  text-align: center;
  color: #CCCCCC;
  line-height: 1em;
}
.editor .between-option .more-option .btnAction i {
  display: block;
  font-size: 1.25em;
  margin-bottom: 3px;
}
.editor .between-option .more-option .btnAction span {
  display: block;
  font-size: 0.8em;
  font-family: "maledpan", sans-serif;
}
.editor .between-option .more-option .btnAction:hover {
  color: #FFFFFF;
  background: #444444;
}
.editor .documents {
  width: 50%;
  margin: 0 25%;
  float: left;
  display: inline-block;
}
.editor .documents h2 {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 1.6em;
  font-weight: normal;
  margin-bottom: 2%;
}
.editor .documents .document-items {
  width: 96%;
  padding: 2%;
  float: left;
  display: inline-block;
  background: #F5F5F5;
  margin-bottom: 1%;
  border-radius: 5px;
  position: relative;
}
.editor .documents .document-items.form {
  display: none;
}
.editor .documents .document-items:hover .btn {
  color: #BBBBBB;
}
.editor .documents .document-items .inputfile {
  display: none;
}
.editor .documents .document-items .icon {
  width: 5%;
  float: left;
  display: inline-block;
  font-size: 1.4em;
  margin-top: 0.4%;
  text-align: center;
  color: #999999;
}
.editor .documents .document-items .detail {
  width: 93%;
  margin-left: 2%;
  float: left;
  display: inline-block;
}
.editor .documents .document-items .detail .name {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.2em;
}
.editor .documents .document-items .detail .file_title {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.2em;
  padding: 0;
  margin: 0;
  border: 0;
  background: transparent;
}
.editor .documents .document-items .detail .info {
  font-size: 0.75em;
  color: #999999;
}
.editor .documents .document-items .detail .progress {
  width: 100%;
  float: left;
  display: inline-block;
  background: #DDDDDD;
  border-radius: 5px;
  margin-top: 1%;
}
.editor .documents .document-items .detail .progress .bar {
  width: 30%;
  height: 5px;
  float: left;
  display: inline-block;
  border-radius: 5px;
  background: #3bed8d;
  background: -webkit-linear-gradient(to right, #3bed8d, #38acc5);
  background: linear-gradient(to right, #3bed8d, #38acc5);
}
.editor .documents .document-items .btn {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1.5%;
  float: right;
  display: inline-block;
  text-align: center;
  line-height: 1em;
  font-size: 1em;
  color: transparent;
}
.editor .documents .document-items .btn:hover {
  cursor: pointer;
  color: #666666;
}
/*
.page-form{
	width: 50%;
	padding: 0% 25%;
	float: left;
	display: inline-block;
	margin-top: 56px * 2;

	.items{
		width: 100%;
		float: left;
		display: inline-block;
		margin-bottom: 3%;

		.caption{
			width: 100%;
			float: left;
			display: inline-block;
			font-family: @topic_font;
			font-size: @font-size-normal;
			margin-bottom: 1%;
			color: #333333;

			a{
				color: @primary_color;
				margin-left: 3px;
				font-size: 0.8em;
			}
		}
		.content{
			width: 100%;
			float: left;
			display: inline-block;

			input[type="text"] , textarea{
				width: 100%;
				padding: 2%;
				float: left;
				display: inline-block;
				font-size: 1em;
				border: 0;
				border-radius: 5px;
				background: #F5F5F5;
				color: @primary_color;
				resize: none;
				outline: none;
				line-height: 1.2em;
				border: 1px solid #F5F5F5;
				box-sizing: border-box;

				&:hover{ cursor: pointer; }
				&:focus{
					background: #FFFFFF;
					border: 1px solid @primary_color;
				}
			}

			.message{
				width: 35%;
				float: right;
				display: inline-block;
				padding: 2% 0;
				font-style: italic;
				color: #BBBBBB;
				line-height: 1.4em;

				&:hover{
					cursor: default;
				}

				a{
					color: @primary_color;
				}
			}
		}

		button{
			float: left;
			display: inline-block;
			background: #EEEEEE;
			color: #BBBBBB;
			font-size: 1.1em;
			border-radius: 5px;
			border: 0px;
			padding: 15px 25px;
			line-height: 1em;
			font-family: @topic_font;

			&.active{
				background: @primary_color;
				color: #FFFFFF;
			}

			&:hover{ cursor: pointer; }
		}
	}

	.delete-zone{
		width: 60%;
		float: left;
		display: inline-block;
		margin-bottom: 15%;
		margin-top: 3%;
		padding-top: 3%;
		border-top: 1px solid #DDDDDD;

		p{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 1.1em;
			font-family: @topic_font;
			margin-bottom: 3%;
			color: #666666;
		}

		.select{
			width: 70%;
			float: left;
			display: inline-block;
			position: relative;
			margin-right: 15px;

			&.number{ width: 10%; }
			&:after{
				content: '';
				border-top: 8px solid #BBBBBB;
				border-left: 5px solid transparent;
				border-right: 5px solid transparent;
				position: absolute;
				z-index: 2;
				top: 20px;
				right: 18px;
				pointer-events: none;
			}

			select{
				width: 100%;
				margin: 0%;
				float: left;
				display: inline-block;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				font-size: 1em;
				border: 1px solid #DDDDDD;
				line-height: 1em;
				padding: 15px;
				background: #FFFFFF;
				font-family: @topic_font;
				color: #333333;
				border-radius: 5px;

				&:hover{
					cursor: pointer;
					border: 1px solid #999999;
				}

				&:focus{
					border: 1px solid @primary_color;
					color: @primary_color;
				}
			}
		}

		.btn{
			float: right;
			display: inline-block;
			background: #F44336;
			color: #FFFFFF;
			text-decoration: none;
			font-family: @topic_font;
			font-size: 1.1em;
			line-height: 1em;
			padding: 15px 25px;
			border-radius: 5px;
			border: 0;
			margin: 0;
			box-shadow: 0px 1px 5px rgba(0,0,0,0.2);

			&:hover{
				cursor: pointer;
			}
		}
	}
}
*/
.filter {
  width: 50%;
  margin: 0% 25%;
  margin-top: 56px;
  padding-top: 4%;
  padding-bottom: 2%;
  float: left;
  display: inline-block;
}
.filter.bottom {
  padding-top: 3%;
  padding-bottom: 0;
  border-top: 1px solid #DDDDDD;
}
.filter .title {
  max-width: 60%;
  float: left;
  display: inline-block;
  font-size: 1.05em;
  line-height: 1em;
  padding: 15px 0px;
  font-family: "maledpan", sans-serif;
  color: #999999;
}
.filter .select {
  width: 30%;
  float: right;
  display: inline-block;
  position: relative;
  margin-right: 15px;
}
.filter .select.number {
  width: 10%;
}
.filter .select:after {
  content: '';
  border-top: 8px solid #2962ff;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  position: absolute;
  z-index: 2;
  top: 20px;
  right: 18px;
  pointer-events: none;
}
.filter .select select {
  width: 100%;
  margin: 0%;
  float: left;
  display: inline-block;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-size: 1.05em;
  border: 1px solid #2962ff;
  line-height: 1em;
  padding: 14px;
  background: #FFFFFF;
  font-family: "maledpan", sans-serif;
  color: #2962ff;
  border-radius: 5px;
}
.filter .select select:hover {
  cursor: pointer;
}
.filter .btn-create {
  float: right;
  display: inline-block;
  background: #2962ff;
  color: #FFFFFF;
  text-decoration: none;
  font-family: "maledpan", sans-serif;
  font-size: 1.05em;
  line-height: 1em;
  padding: 13px 25px;
  padding-bottom: 17px;
  border-radius: 5px;
  border: 0;
  margin: 0;
}
.filter .btn-create i {
  margin-left: 15px;
}
.filter .btn-create:hover {
  cursor: pointer;
  background: #2979ff;
}
.pagination {
  width: 56%;
  margin: 0 22%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
}
.pagination a {
  float: left;
  display: inline-block;
  color: #999999;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
  margin-right: 5px;
}
.pagination a.active {
  color: #FFFFFF;
  background: #2962ff;
}
.pagination a.active:hover {
  background: #2962ff;
}
.pagination a:hover {
  cursor: pointer;
  background: #FAFAFA;
}
.lists {
  width: 50%;
  padding: 0% 25%;
  padding-bottom: 5%;
  float: left;
  display: inline-block;
}
.lists.no-margin {
  padding-bottom: 0;
}
.lists h1 {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-weight: normal;
  font-size: 1.05em;
  margin-bottom: 2%;
  color: #BBBBBB;
}
.lists .list-items {
  width: 100%;
  float: left;
  display: inline-block;
  background: #F0F0F0;
  margin-bottom: 2%;
  border-radius: 5px;
  box-sizing: border-box;
  border: 2px solid transparent;
}
.lists .list-items:last-child {
  margin-bottom: 0;
}
.lists .list-items.selected {
  background: #FAFAFA;
  border: 2px solid #2962ff;
}
.lists .list-items.selected .icon-select {
  color: #2962ff;
}
.lists .list-items .icon {
  width: 9%;
  padding: 1.5% 0;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
  color: #2962ff;
}
.lists .list-items .detail {
  width: 70%;
  padding: 1.5% 0;
  float: left;
  display: inline-block;
}
.lists .list-items .detail .title {
  width: 100%;
  float: left;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  color: #333333;
}
.lists .list-items .detail .title:hover {
  cursor: default;
}
.lists .list-items .detail .desc {
  font-size: 0.75em;
  color: #999999;
  font-style: italic;
}
.lists .list-items .detail .desc a {
  color: #2962ff;
  text-decoration: none;
}
.lists .list-items .detail .desc a:hover {
  text-decoration: underline;
}
.lists .list-items .icon-select {
  width: 9%;
  padding: 1.5% 0;
  float: right;
  display: inline-block;
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
  color: transparent;
}
.lists .list-items .btn {
  width: 9%;
  padding: 1.5% 0;
  float: right;
  display: inline-block;
  text-align: center;
  font-size: 1.4em;
  line-height: 2em;
  color: #BBBBBB;
}
.lists .list-items .btn i.fa-check {
  color: #2962ff;
}
.lists .list-items .btn:hover {
  color: #666666;
  cursor: pointer;
}
.lists .article-items {
  width: 100%;
  float: left;
  display: inline-block;
  background: #F0F0F0;
  margin-bottom: 2%;
  border-radius: 5px;
  overflow: hidden;
  position: relative;
}
.lists .article-items:last-child {
  margin-bottom: 0;
}
.lists .article-items .sticky {
  content: '';
  border-top: 30px solid rgba(0, 0, 0, 0.1);
  border-right: 30px solid transparent;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
}
.lists .article-items .sticky.active {
  border-top: 30px solid #FFAB00;
}
.lists .article-items .sticky.active:hover {
  border-top: 30px solid #FFAB00;
}
.lists .article-items .sticky:hover {
  border-top: 30px solid rgba(0, 0, 0, 0.3);
  cursor: pointer;
}
.lists .article-items .thumbnail {
  width: 17%;
  float: left;
  display: inline-block;
  margin-top: 0%;
}
.lists .article-items .thumbnail img {
  width: 100%;
  float: left;
  display: inline-block;
}
.lists .article-items .thumbnail img:hover {
  opacity: 0.8;
}
.lists .article-items .icon {
  width: 17%;
  float: left;
  display: inline-block;
  margin-top: 3.5%;
  text-align: center;
  color: #BBBBBB;
  font-size: 2em;
}
.lists .article-items .content {
  width: 67%;
  padding: 2%;
  float: left;
  display: inline-block;
}
.lists .article-items .content.fullsize {
  width: 79%;
}
.lists .article-items .content h2 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.05em;
  line-height: 1.3em;
  margin-top: 0.5%;
  margin-bottom: 1%;
  font-family: "maledpan", sans-serif;
  font-weight: normal;
}
.lists .article-items .content h2 a {
  text-decoration: none;
  color: #333333;
}
.lists .article-items .content h2 a:hover {
  text-decoration: underline;
}
.lists .article-items .content p {
  font-size: 0.75em;
  color: #999999;
}
.lists .article-items .content p:hover {
  cursor: default;
}
.lists .article-items .content p i {
  margin-left: 7px;
  color: #2962ff;
}
.lists .article-items .content p span {
  float: left;
  display: inline-block;
}
.lists .article-items .btn-publish {
  width: 12%;
  padding: 3% 0;
  float: right;
  display: inline-block;
  font-size: 1.4em;
  line-height: 2.5em;
  text-align: center;
  color: #2962ff;
}
.lists .article-items .btn-publish:hover {
  cursor: pointer;
}
.lists .empty {
  width: 100%;
  padding: 10% 0;
  float: left;
  display: inline-block;
  text-align: center;
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  color: #DDDDDD;
}
.swap {
  position: fixed;
  top: 0;
  right: -12%;
  width: 12%;
  height: 100%;
  float: left;
  display: inline-block;
  background: #EEEEEE;
  z-index: 999;
  overflow-y: scroll;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}
.swap.-toggle {
  transform: translateX(-100%);
}
.swap .swap-items {
  width: 80%;
  margin: 10%;
  margin-bottom: 0%;
  float: left;
  display: inline-block;
  background: #EEEEEE;
  color: #BBBBBB;
  border-radius: 10px;
  font-size: 5px;
  line-height: 1.1em;
  position: relative;
  max-height: 100px;
  overflow: hidden;
  box-sizing: border-box;
  border: 3px solid transparent;
  opacity: 0.6;
}
.swap .swap-items.text {
  padding: 5%;
}
.swap .swap-items.text a {
  display: none;
}
.swap .swap-items.-active {
  border: 3px solid #2962ff;
}
.swap .swap-items:hover {
  cursor: pointer;
  border: 3px solid #2962ff;
  opacity: 1;
}
.swap .swap-items:first-child {
  margin-top: 60px;
}
.swap .swap-items i {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 15% 0%;
}
.swap .swap-items img {
  width: 100%;
  float: left;
  display: inline-block;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-backdrop-filter: blur(3px);
  backdrop-filter: blur(3px);
  background: rgba(255, 255, 255, 0.3);
  z-index: 99;
  visibility: hidden;
  opacity: 0;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
}
.overlay.open {
  visibility: visible;
  opacity: 1;
}
.overlay .icon-loading {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 25%;
  font-size: 2em;
  text-align: center;
  color: #2979ff;
}
#progressbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 0%;
  height: 3px;
  float: left;
  display: inline-block;
  z-index: 9999;
  background: #2962ff;
}
/* Other Device and Screen */
