@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'maledpan';
  src: url('../font/maledpan/maledpan-regular-webfont.eot');
  src: url('../font/maledpan/maledpan-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/maledpan/maledpan-regular-webfont.woff') format('woff'), url('../font/maledpan/maledpan-regular-webfont.ttf') format('truetype'), url('../font/maledpan/maledpan-regular-webfont.svg#mitr') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #eeeeee;
  overflow-x: hidden;
}
body.paper {
  background: #FFFFFF;
}
.autosize {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.header {
  position: relative;
  width: 70%;
  padding: 0 15%;
  float: left;
  display: inline-block;
  height: 56px;
  background: #ff6d00;
  z-index: 999;
  top: 0;
}
.header.transparent {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  border-bottom: 0;
}
.header.transparent .logo a {
  color: #FFFFFF;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.header.transparent .logo i {
  color: #ff6d00;
}
.header.transparent a.btn-icon {
  color: #FFFFFF;
}
.header a.logo {
  float: left;
  display: block;
  height: 30px;
  padding: 13px 0%;
  text-align: center;
  font-family: "maledpan", sans-serif;
  text-decoration: none;
  font-size: 1.2em;
  line-height: 1em;
  color: #FFFFFF;
  font-weight: bold;
}
.header a.logo img {
  height: 30px;
  vertical-align: middle;
}
.header a.logo span {
  margin-left: 5px;
  vertical-align: middle;
}
.header .btn-icon {
  float: left;
  display: inline-block;
  height: 20px;
  padding: 18px 20px;
  line-height: 1em;
  font-size: 1.1em;
  color: #FFFFFF;
  font-family: "maledpan", sans-serif;
  text-decoration: none;
  border: 0;
  background: transparent;
}
.header .btn-icon.right {
  float: right;
}
.header .btn-icon:hover {
  cursor: pointer;
}
.header .btn-icon span {
  margin-left: 10px;
}
.header #btn-category,
.header #btn-back {
  display: none;
}
.header input[type="text"] {
  float: right;
  display: inline-block;
  border: 0;
  height: 36px;
  font-size: 1em;
  margin: 10px 0;
  padding: 0 2%;
  line-height: 1.25em;
  background: #EEEEEE;
  color: #333333;
  border-radius: 5px;
}
.header input[type="text"]:focus {
  background: #FFFFFF;
}
.header button {
  height: 56px !important;
}
.navigation {
  width: 90%;
  padding: 0 5%;
  height: 56px;
  float: left;
  display: flex;
  background: #FFFFFF;
  position: relative;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navigation.toggle {
  box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
  transform: translate3d(100%, 0, 0);
  -webkit-transform: translate3d(100%, 0, 0);
}
.navigation .mini-logo {
  display: none;
}
.navigation a {
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  line-height: 1em;
  text-decoration: none;
  color: #111111;
  padding: 1em;
}
.navigation a i {
  margin-right: 7px;
  color: #999999;
}
.navigation a.active {
  color: #ff6d00;
}
.navigation a.active i {
  color: #ff6d00;
}
.cover {
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 70vh;
}
.cover img {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: -200px;
}
.cover .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.cover .content {
  width: 100%;
  float: left;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14%;
  text-align: center;
  z-index: 2;
  font-family: "maledpan", sans-serif;
}
.cover .content h1 {
  color: #FFFFFF;
  font-size: 3.3000000000000003em;
  line-height: 1.5em;
}
.cover .content p {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.7);
}
.section {
  width: 70%;
  margin: 0 15%;
  float: left;
  display: inline-block;
  margin-top: 4%;
  padding-bottom: 3%;
}
.section .head {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
}
.section .head h3 {
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 1.6500000000000001em;
  line-height: 1em;
  color: #333333;
}
.section .head a {
  float: right;
  display: inline-block;
  text-decoration: none;
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  color: #BBBBBB;
}
.section .head a i {
  margin-left: 7px;
}
.section .head a:hover {
  text-decoration: underline;
}
.section .article-sticky {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
}
.section .article-sticky .image {
  width: 66%;
  float: left;
  display: inline-block;
}
.section .article-sticky .image img {
  width: 100%;
  float: left;
  display: inline-block;
}
.section .article-sticky header {
  width: 28.33%;
  padding-top: 3%;
  padding-right: 3%;
  float: right;
  display: inline-block;
}
.section .article-sticky header .category {
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #BBBBBB;
  margin-bottom: 3%;
}
.section .article-sticky header h2 {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  margin-bottom: 5%;
  line-height: 1.25em;
  font-weight: normal;
}
.section .article-sticky header h2 a {
  color: #111111;
  text-decoration: none;
}
.section .article-sticky header p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #666666;
}
.section .article-sticky header p.info {
  margin-top: 5%;
  color: #999999;
  font-style: italic;
}
.section .article-sticky header p.info .owner {
  color: #ff6d00;
}
.section .article-sticky header p.info .owner img {
  float: left;
  display: inline-block;
  height: 19px;
  margin-right: 7px;
  border-radius: 50%;
}
.section.related .lists .article-card {
  background: #F5F5F5;
}
.section .lists {
  width: 100%;
  float: left;
  display: inline-block;
}
.section .lists .article-card {
  width: 48.5%;
  margin-bottom: 3%;
  margin-right: 3%;
  min-height: 144px;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
}
.section .lists .article-card:nth-child(even) {
  margin-right: 0;
}
.section .lists .article-card .thumbnail {
  width: 30%;
  float: left;
  display: inline-block;
}
.section .lists .article-card .thumbnail img {
  width: 100%;
  float: left;
  display: inline-block;
}
.section .lists .article-card .thumbnail img:hover {
  opacity: 0.9;
}
.section .lists .article-card header {
  width: 60%;
  padding: 5%;
  float: left;
  display: inline-block;
}
.section .lists .article-card header.fullsize {
  width: 90%;
}
.section .lists .article-card header h2 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  line-height: 1.3em;
  font-weight: normal;
  margin-bottom: 3%;
}
.section .lists .article-card header h2 a {
  text-decoration: none;
  color: #333333;
}
.section .lists .article-card header p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #BBBBBB;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.section .lists .article-card header p .owner {
  color: #ff6d00;
}
.section .lists .article-card header p .owner img {
  float: left;
  display: inline-block;
  height: 19px;
  margin-right: 7px;
  border-radius: 50%;
}
.section .lists .empty {
  width: 100%;
  padding: 10% 0;
  float: left;
  display: inline-block;
  text-align: center;
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  color: #DDDDDD;
  font-style: italic;
}
.pagination {
  width: 70%;
  margin: 0 15%;
  float: left;
  display: inline-block;
}
.pagination a {
  float: left;
  display: inline-block;
  color: #999999;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  margin-right: 5px;
}
.pagination a.active {
  color: #FFFFFF;
  background: #ff6d00;
}
.pagination a:hover {
  cursor: pointer;
}
.article {
  width: 100%;
  float: left;
  display: inline-block;
}
.article .article-header {
  width: 50%;
  margin: 5% 25%;
  margin-top: 56px;
  float: left;
  display: inline-block;
}
.article .article-header .author {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 1%;
  font-size: 0.75em;
  color: #999999;
}
.article .article-header .author img {
  vertical-align: middle;
  height: 25px;
  border-radius: 50%;
  margin-right: 7px;
}
.article .article-header .author span {
  vertical-align: middle;
}
.article .article-header .author strong {
  color: #333333;
}
.article .article-header .author a {
  vertical-align: middle;
  color: #ff6d00;
}
.article .article-header h1 {
  font-size: 2.2em;
  font-family: "maledpan", sans-serif;
  line-height: 1.2em;
  color: #333333;
  display: block;
}
.article .article-header h1:hover {
  cursor: default;
}
.article .article-header p.desc {
  width: 100%;
  float: left;
  display: block;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-top: 3%;
  color: #888888;
  font-style: italic;
}
.article .article-header p.desc:hover {
  cursor: default;
}
.article .article-cover {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: -56px;
  height: 101vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
}
.article .article-cover picture img {
  width: 100%;
  float: left;
  display: inline-block;
  transform: scale(1.1);
}
.article .article-cover .article-header {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  margin: 0;
  padding: 7% 25%;
  padding-top: 21%;
  float: left;
  display: inline-block;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}
.article .article-cover .article-header .author {
  color: #DDDDDD;
}
.article .article-cover .article-header .author strong {
  color: #FFFFFF;
}
.article .article-cover .article-header h1 {
  color: #FFFFFF;
  text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.article section {
  width: 50%;
  margin: 0 25%;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.article section h2 {
  color: #333333;
  font-size: 1.4300000000000002em;
  font-family: "maledpan", sans-serif;
  margin-bottom: 2%;
  line-height: 1.3em;
}
.article section p {
  font-size: 1.2em;
  color: #555555;
  line-height: 1.6em;
}
.article p.content {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #555555;
}
.article blockquote {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
}
.article blockquote i.fa-quote-left,
.article blockquote i.fa-quote-right {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 2.4em;
  color: #DDDDDD;
}
.article blockquote i.fa-quote-right {
  text-align: right;
}
.article blockquote p {
  width: 90%;
  padding: 1% 5%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 2.4em;
  line-height: 1.5em;
  color: #555555;
  border: 0;
  margin: 0;
  background: transparent;
  resize: none;
  font-style: italic;
  text-align: center;
}
.article blockquote footer {
  width: 80%;
  padding: 1% 10%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin: 0px;
  border: 0px;
  color: #ff6d00;
  background: transparent;
  text-align: center;
}
.article .google-map {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
  position: relative;
}
.article .google-map img {
  width: 100%;
  float: left;
  display: inline-block;
}
.article .google-map figcaption {
  width: 98%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 0.75em;
  border: 0px;
  padding: 2% 1%;
  background: transparent;
  font-style: italic;
  color: #999999;
}
.article .google-map a.btn-open-map {
  position: absolute;
  top: 5%;
  right: 5%;
  background: #ff6d00;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px;
  line-height: 1em;
  font-size: 1.1em;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.article .google-map a.btn-open-map:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}
.article figure.content {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
  position: relative;
}
.article figure.content img {
  width: 100%;
  float: left;
  display: inline-block;
}
.article figure.content .image-not-found {
  width: 100%;
  padding: 25% 0%;
  float: left;
  display: inline-block;
  background: #EEEEEE;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  color: #CCCCCC;
}
.article figure.content figcaption {
  width: 98%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 0.75em;
  border: 0px;
  padding: 2% 1%;
  background: transparent;
  font-style: italic;
  color: #999999;
}
.article figure.content .videoWrapper {
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 2%;
  height: 0;
}
.article figure.content .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.article .tag {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  padding-top: 3%;
  float: left;
  display: inline-block;
}
.article .tag a {
  float: left;
  display: inline-block;
  font-style: italic;
  text-decoration: none;
  margin-right: 2%;
  margin-bottom: 2%;
  line-height: 1em;
  color: #BBBBBB;
  font-size: 1.2em;
}
.article .tag a:hover {
  color: #111111;
}
.article .documents {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  padding-top: 3%;
  float: left;
  display: inline-block;
}
.article .documents h2 {
  color: #333333;
  font-size: 1.4300000000000002em;
  font-family: "maledpan", sans-serif;
  margin-bottom: 3%;
  line-height: 1.3em;
}
.article .documents .document-items {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 2%;
  background: #EEEEEE;
  border-radius: 5px;
  overflow: hidden;
}
.article .documents .document-items .icon {
  width: 10%;
  padding: 2% 0%;
  float: left;
  display: inline-block;
  font-size: 1.6em;
  text-align: center;
  color: #333333;
}
.article .documents .document-items .icon .fa-file-word {
  color: #1976D2;
}
.article .documents .document-items .icon .fa-file-powerpoint {
  color: #E65100;
}
.article .documents .document-items .icon .fa-file-excel {
  color: #2E7D32;
}
.article .documents .document-items .icon .fa-file-pdf {
  color: #E53935;
}
.article .documents .document-items .icon .fa-file-archive {
  color: #FFAB00;
}
.article .documents .document-items .detail {
  width: 90%;
  padding: 2% 0;
  float: left;
  display: inline-block;
}
.article .documents .document-items .detail .name {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  color: #333333;
  line-height: 1.3em;
}
.article .documents .document-items .detail .desc {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #999999;
  font-style: italic;
}
.qrcode {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
}
.qrcode h3 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.4300000000000002em;
  font-family: "maledpan", sans-serif;
  margin-bottom: 3%;
  color: #999999;
  line-height: 1em;
  font-weight: normal;
}
.qrcode .qrcode-img {
  width: 15%;
  float: left;
  display: inline-block;
  border: 1px solid #DDDDDD;
  border-radius: 5px;
  overflow: hidden;
}
.qrcode .qrcode-img img {
  width: 100%;
  float: left;
  display: inline-block;
}
.qrcode .guild {
  width: 80%;
  float: right;
  display: inline-block;
  font-style: italic;
  color: #999999;
  margin-top: 2%;
}
.qrcode .guild p {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 1em;
  font-size: 0.75em;
}
.facebook-comment {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
}
.facebook-comment h3 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.4300000000000002em;
  font-family: "maledpan", sans-serif;
  margin-bottom: 3%;
  color: #999999;
  line-height: 1em;
  font-weight: normal;
}
.facebook-comment .fb-comments {
  width: 100%;
  float: left;
  display: inline-block;
}
.sharing {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
}
.sharing .sharing-items {
  float: right;
  display: inline-block;
  margin-left: 2%;
}
.pagehead {
  width: 70%;
  padding: 1% 15%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  background: #FFFFFF;
  color: #ff6d00;
  font-weight: normal;
  text-align: center;
}
.footer {
  width: 70%;
  padding: 3% 15%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 5%;
}
.footer .link {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
  margin-bottom: 2%;
}
.footer .link a {
  padding: 1%;
  color: #333333;
  text-decoration: none;
  line-height: 1em;
}
.footer .link a i {
  margin-right: 5px;
}
.footer .link a:hover {
  text-decoration: underline;
}
.footer .license {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #999999;
}
.page-nav {
  position: fixed;
  top: 112px;
  right: 15%;
  width: 10%;
  padding: 0% 3%;
  margin-top: 2.8%;
  border-left: 1px solid #EEEEEE;
}
.page-nav a {
  width: 100%;
  padding: 3% 0;
  float: left;
  display: inline-block;
  text-decoration: none;
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  color: #666666;
}
.page-nav a.active {
  color: #F55704;
}
.about {
  width: 50%;
  margin-left: 15%;
  float: left;
  display: inline-block;
}
.about .content {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
}
.about .content h1 {
  font-size: 2em;
  font-family: "maledpan", sans-serif;
  margin-bottom: 3%;
  line-height: 1em;
  font-weight: normal;
  color: #111111;
}
.about .content p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 5%;
  color: #333333;
}
.about .content a {
  color: #ff6d00;
}
.about .content figure {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.about .content figure img {
  width: 100%;
  float: left;
  display: inline-block;
}
.about .content .profile {
  width: 100%;
  float: left;
  display: inline-block;
}
.about .content .profile .profile-items {
  width: 48.5%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
  margin-right: 3%;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);
}
.about .content .profile .profile-items:nth-child(even) {
  margin-right: 0;
}
.about .content .profile .profile-items .thumbnail {
  width: 20%;
  float: left;
  display: inline-block;
  margin-right: 5%;
}
.about .content .profile .profile-items .thumbnail img {
  width: 100%;
  float: left;
  display: inline-block;
}
.about .content .profile .profile-items .info {
  width: 75%;
  float: left;
  display: inline-block;
  padding-top: 2%;
}
.about .content .profile .profile-items .info h2 {
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  font-weight: normal;
}
.about .content .profile .profile-items .info p {
  font-size: 0.75em;
  color: #ff6d00;
}
.about .content iframe {
  width: 100%;
  height: 500px;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.login {
  width: 100%;
  margin: 0%;
  float: left;
  display: inline-block;
}
.login .logo {
  width: 100%;
  padding: 3% 0%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 4%;
}
.login .logo a img {
  height: 60px;
}
.login .content {
  width: 24%;
  margin: 0 38%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
}
.login .content .btn {
  width: 100%;
  padding: 5.6% 0%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 1.1em;
  background: #ff6d00;
  color: #FFFFFF;
  border: 0px;
  border-radius: 5px;
  font-family: "maledpan", sans-serif;
  line-height: 1em;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);
}
.login .content .btn i {
  margin-left: 15px;
}
.login .content .btn.btn-facebook {
  color: #FFFFFF;
  background: #3b5998;
}
.login .content .btn.loading {
  background: transparent;
  color: #999999;
  box-shadow: none;
}
.login .content .btn:hover {
  cursor: pointer;
}
.login .content .separator {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: block;
  text-align: center;
  font-style: italic;
  color: #999999;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
}
.login .content .inputtext {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1em;
  padding: 5%;
  margin: 0;
  border: 0;
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 5%;
  border: 1px solid #DDDDDD;
  box-sizing: border-box;
  color: #333333;
}
.login .content .inputtext:hover {
  cursor: pointer;
}
.login .content .inputtext:focus {
  border: 1px solid #ff6d00;
}
.login .message {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  color: #999999;
  font-size: 1.1em;
  font-family: "maledpan", sans-serif;
}
.login .message a {
  color: #333333;
  text-decoration: underline;
}
.announce {
  width: 50%;
  margin: 0% 25%;
  margin-top: 20%;
  float: left;
  display: inline-block;
  text-align: center;
}
.announce h2 {
  font-family: "maledpan", sans-serif;
  font-weight: normal;
  color: #999999;
  font-size: 2.4em;
}
.announce h2 i {
  margin-right: 20px;
}
.announce p {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: 1%;
  font-size: 0.75em;
  color: #999999;
}
.announce a {
  margin-top: 10%;
  display: inline-block;
  text-decoration: none;
  font-family: "maledpan", sans-serif;
  font-size: 1.1em;
  color: #FFFFFF;
  background: #ff6d00;
  padding: 1% 3%;
  border-radius: 5px;
}
.announce a i {
  margin-right: 10px;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.85);
  z-index: 999;
  display: none;
}
.overlay:hover {
  cursor: pointer;
}
/* Other Device and Screen */
@media only screen and (min-width: 1024px) and (max-width: 1365px) {
  .header {
    width: 90%;
    padding: 0 5%;
  }
  .header a.logo {
    padding: 13px 0;
    font-size: 1.2em;
    line-height: 1em;
  }
  .header .btn-icon {
    height: 20px;
    padding: 18px 20px;
    line-height: 1em;
    font-size: 1.1em;
  }
  .header .btn-icon span {
    margin-left: 10px;
  }
  .header input[type="text"] {
    height: 36px;
    font-size: 1em;
    margin: 10px 0;
    padding: 0 2%;
  }
  .navigation {
    width: 96%;
    padding: 0 2%;
    height: 56px;
  }
  .navigation a {
    font-size: 1.1em;
  }
  .cover {
    height: 50vh;
  }
  .cover img {
    margin-top: 0px;
  }
  .cover .content {
    margin-top: 14%;
  }
  .cover .content h1 {
    font-size: 3.3000000000000003em;
  }
  .cover .content p {
    font-size: 1.1em;
  }
  .section {
    width: 90%;
    margin: 0 5%;
    margin-top: 4%;
    padding-bottom: 3%;
  }
  .section .head {
    margin-bottom: 3%;
  }
  .section .head h3 {
    font-size: 1.6500000000000001em;
  }
  .section .head a {
    font-size: 1.1em;
  }
  .section .article-sticky {
    margin-bottom: 3%;
  }
  .section .article-sticky .image {
    width: 66%;
  }
  .section .article-sticky header {
    width: 28.33%;
    padding-top: 3%;
    padding-right: 3%;
  }
  .section .article-sticky header .category {
    font-size: 0.75em;
    margin-bottom: 3%;
  }
  .section .article-sticky header h2 {
    font-size: 1.1em;
    margin-bottom: 5%;
    line-height: 1.25em;
  }
  .section .article-sticky header p {
    font-size: 0.75em;
  }
  .section .article-sticky header p.info {
    margin-top: 5%;
  }
  .section .article-sticky header p.info .owner img {
    height: 19px;
    margin-right: 7px;
  }
  .section .lists .article-card {
    width: 48.5%;
    margin-bottom: 3%;
    margin-right: 3%;
    min-height: 144px;
  }
  .section .lists .article-card .thumbnail {
    width: 32%;
  }
  .section .lists .article-card header {
    width: 58%;
    padding: 5%;
  }
  .section .lists .article-card header h2 {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 5%;
  }
  .section .lists .article-card header p {
    font-size: 0.75em;
  }
  .section .lists .article-card header p .owner img {
    height: 19px;
    margin-right: 7px;
  }
  .section .lists .empty {
    padding: 10% 0;
    font-size: 1.1em;
  }
  .pagination {
    width: 90%;
    margin: 0 5%;
  }
  .pagination a {
    padding: 10px 20px;
    font-size: 1.1em;
  }
  .article .article-header {
    width: 60%;
    margin: 5% 20%;
    margin-top: 56px;
  }
  .article .article-header .author {
    margin-bottom: 2%;
    font-size: 0.75em;
  }
  .article .article-header .author img {
    height: 25px;
    margin-right: 7px;
  }
  .article .article-header h1 {
    font-size: 2.2em;
    line-height: 1.2em;
  }
  .article .article-header p.desc {
    font-size: 1.2em;
    line-height: 1.4em;
    margin-top: 3%;
  }
  .article .article-cover {
    height: 100vh;
    margin-bottom: 5%;
  }
  .article .article-cover picture img {
    transform: scale(1.3);
  }
  .article .article-cover .article-header {
    width: 60%;
    margin: 0;
    padding: 10% 20%;
    padding-top: 21%;
  }
  .article section {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
  }
  .article section h2 {
    font-size: 1.4300000000000002em;
    margin-bottom: 2%;
    line-height: 1.3em;
  }
  .article section p {
    font-size: 1.2em;
    line-height: 1.6em;
  }
  .article p.content {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
    font-size: 1.2em;
    line-height: 1.6em;
  }
  .article blockquote {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
  }
  .article blockquote i.fa-quote-left,
  .article blockquote i.fa-quote-right {
    font-size: 2.4em;
  }
  .article blockquote p {
    width: 90%;
    padding: 1% 5%;
    font-size: 2.4em;
    line-height: 1.5em;
  }
  .article blockquote footer {
    width: 80%;
    padding: 1% 10%;
    font-size: 1.2em;
  }
  .article .google-map {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
  }
  .article .google-map figcaption {
    width: 98%;
    font-size: 0.75em;
    padding: 2% 1%;
  }
  .article .google-map a.btn-open-map {
    top: 5%;
    right: 5%;
    padding: 15px;
    font-size: 1.1em;
  }
  .article figure.content {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
  }
  .article figure.content .image-not-found {
    padding: 25% 0%;
    font-size: 1.2em;
  }
  .article figure.content figcaption {
    width: 98%;
    font-size: 0.75em;
    padding: 2% 1%;
  }
  .article .tag {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
    padding-top: 3%;
  }
  .article .tag a {
    margin-right: 2%;
    margin-bottom: 2%;
    font-size: 1.2em;
  }
  .article .documents {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
    padding-top: 3%;
  }
  .article .documents h2 {
    font-size: 1.4300000000000002em;
    margin-bottom: 3%;
    line-height: 1.3em;
  }
  .article .documents .document-items {
    margin-bottom: 2%;
  }
  .article .documents .document-items .icon {
    width: 10%;
    padding: 2% 0%;
    font-size: 1.6em;
  }
  .article .documents .document-items .detail {
    width: 90%;
    padding: 2% 0;
  }
  .article .documents .document-items .detail .name {
    font-size: 1.1em;
    line-height: 1.3em;
  }
  .article .documents .document-items .detail .desc {
    font-size: 0.75em;
  }
  .qrcode {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
  }
  .qrcode h3 {
    font-size: 1.4300000000000002em;
    margin-bottom: 3%;
  }
  .qrcode .qrcode-img {
    width: 15%;
  }
  .qrcode .guild {
    width: 80%;
    margin-top: 1%;
  }
  .qrcode .guild p {
    font-size: 0.75em;
  }
  .facebook-comment {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
  }
  .facebook-comment h3 {
    font-size: 1.4300000000000002em;
    margin-bottom: 3%;
    line-height: 1em;
  }
  .sharing {
    width: 60%;
    margin: 0 20%;
    margin-bottom: 5%;
  }
  .sharing .sharing-items {
    margin-left: 2%;
  }
  .pagehead {
    width: 60%;
    padding: 1% 20%;
    font-size: 1.1em;
  }
  .footer {
    width: 60%;
    padding: 3% 20%;
    margin-top: 5%;
  }
  .footer .link {
    font-size: 1.1em;
    margin-bottom: 2%;
  }
  .footer .link a {
    padding: 2%;
  }
  .footer .link a i {
    margin-right: 5px;
  }
  .footer .license {
    font-size: 0.75em;
  }
  .page-nav {
    right: 10%;
    width: 15%;
    padding: 0% 3%;
    margin-top: 2.8%;
  }
  .page-nav a {
    padding: 3% 0;
    font-size: 1.2em;
  }
  .about {
    width: 60%;
    margin-left: 5%;
  }
  .about .content {
    padding: 5% 0%;
  }
  .about .content h1 {
    font-size: 2em;
    margin-bottom: 3%;
  }
  .about .content p {
    font-size: 1.1em;
    margin-bottom: 5%;
  }
  .about .content figure {
    margin-bottom: 5%;
  }
  .about .content .profile .profile-items {
    width: 48.5%;
    margin-bottom: 3%;
    margin-right: 3%;
  }
  .about .content .profile .profile-items .thumbnail {
    width: 23%;
    margin-right: 5%;
  }
  .about .content .profile .profile-items .info {
    width: 72%;
    padding-top: 2%;
  }
  .about .content .profile .profile-items .info h2 {
    font-size: 1.1em;
  }
  .about .content .profile .profile-items .info p {
    font-size: 0.75em;
  }
  .about .content iframe {
    height: 400px;
    margin-bottom: 5%;
  }
  .login .logo {
    padding: 5% 0%;
    margin-top: 5%;
  }
  .login .content {
    width: 30%;
    margin: 0 35%;
    margin-bottom: 3%;
  }
  .login .content .btn {
    padding: 5.6% 0%;
    font-size: 1.1em;
  }
  .login .content .btn i {
    margin-left: 15px;
  }
  .login .content .separator {
    padding: 5% 0%;
    font-size: 1.1em;
  }
  .login .content .inputtext {
    font-size: 1em;
    padding: 5%;
  }
  .login .message {
    font-size: 1.1em;
  }
  .announce {
    width: 60%;
    margin: 0% 20%;
    margin-top: 25%;
  }
  .announce h2 {
    font-size: 2.4em;
  }
  .announce p {
    margin-top: 1%;
    font-size: 0.75em;
  }
  .announce a {
    margin-top: 10%;
    font-size: 1.1em;
    padding: 1% 3%;
  }
  .announce a i {
    margin-right: 10px;
  }
}
@media only screen and (min-width: 0px) and (max-width: 519px) {
  .header {
    width: 100%;
    padding: 0%;
  }
  .header a.logo {
    position: absolute;
    width: 56%;
    top: 0;
    left: 22%;
    font-family: "maledpan", sans-serif;
    font-size: 1.35em;
  }
  .header a.logo img {
    display: none;
  }
  .header a.logo span {
    margin-left: 0px;
  }
  .header .btn-icon {
    height: 20px;
    padding: 18px 7%;
    line-height: 1em;
    font-size: 1.1em;
  }
  .header .btn-icon.right {
    float: right;
  }
  .header .btn-icon span {
    margin-left: 10px;
  }
  .header #btn-category,
  .header #btn-back {
    display: block;
  }
  .header input[type="text"] {
    width: 50%;
    height: 36px;
    margin: 10px 0;
    padding: 0 5%;
  }
  .navigation {
    position: fixed;
    top: 0;
    left: -80%;
    height: 100%;
    display: inline-block;
    width: 80%;
    padding: 0;
    z-index: 9999;
  }
  .navigation .mini-logo {
    float: left;
    display: inherit;
    width: 92%;
    font-size: 1.1em;
    height: auto;
    padding: 10% 4%;
    margin: 0;
    font-family: "maledpan", sans-serif;
  }
  .navigation .mini-logo img {
    height: 28px;
    vertical-align: middle;
    margin-right: 7px;
  }
  .navigation .mini-logo span {
    vertical-align: middle;
  }
  .navigation a {
    float: left;
    display: inherit;
    width: 84%;
    font-size: 1.1em;
    line-height: 1em;
    height: auto;
    padding: 8%;
    margin: 0;
    border-top: 1px solid #EEEEEE;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .navigation a:last-child {
    border-bottom: 1px solid #EEEEEE;
  }
  .navigation a i {
    margin-right: 8%;
  }
  .cover {
    height: auto;
    margin-bottom: 0%;
  }
  .cover img {
    margin-top: 0px;
  }
  .cover .content {
    width: 86%;
    margin: 10% 7%;
    top: inherit;
    bottom: 0;
    text-align: left;
  }
  .cover .content h1 {
    font-size: 1.815em;
    line-height: 1.1em;
    margin-bottom: 3%;
  }
  .cover .content p {
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .section {
    width: 100%;
    margin: 0%;
    margin-top: 5%;
    padding-bottom: 5%;
  }
  .section .head {
    width: 100%;
    margin: 0;
  }
  .section .head h3 {
    width: 51%;
    padding: 7%;
    font-size: 1.32em;
  }
  .section .head h3.fullsize {
    width: 86%;
  }
  .section .head a {
    width: 21%;
    padding: 7%;
    font-size: 1.1em;
    line-height: 1.2em;
  }
  .section .article-sticky {
    margin-bottom: 3.5%;
    border-radius: 0px;
    box-shadow: none;
    border: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  .section .article-sticky .image {
    width: 100%;
  }
  .section .article-sticky header {
    width: 86%;
    padding: 7%;
  }
  .section .article-sticky header .category {
    font-size: 0.7em;
    margin-bottom: 3.5%;
  }
  .section .article-sticky header h2 {
    font-size: 1.1em;
    margin-bottom: 7%;
    line-height: 1.25em;
  }
  .section .article-sticky header p {
    font-size: 0.7em;
  }
  .section .article-sticky header p.info {
    margin-top: 7%;
  }
  .section .article-sticky header p.info .owner {
    line-height: 1.8em;
  }
  .section .article-sticky header p.info .owner img {
    height: 20px;
    margin-right: 10px;
  }
  .section.related .lists .article-card {
    background: #FFFFFF;
    margin-bottom: 0;
    border-top: 1px solid #EEEEEE;
  }
  .section.related .lists .article-card:last-child {
    border-bottom: 1px solid #EEEEEE;
  }
  .section .lists .article-card {
    width: 100%;
    margin: 0;
    margin-bottom: 3.5%;
    min-height: 144px;
    border-radius: 0px;
    border: 0;
  }
  .section .lists .article-card.last-child {
    margin-bottom: 0;
  }
  .section .lists .article-card .thumbnail {
    width: 30%;
    padding-top: 9%;
  }
  .section .lists .article-card header {
    width: 56%;
    padding: 7%;
  }
  .section .lists .article-card header.fullsize {
    width: 86%;
  }
  .section .lists .article-card header h2 {
    font-size: 1.1em;
    line-height: 1.25em;
    margin-bottom: 7%;
  }
  .section .lists .article-card header p {
    font-size: 0.7em;
    line-height: 1.8em;
  }
  .section .lists .article-card header p .owner img {
    height: 20px;
    margin-right: 10px;
  }
  .section .lists .empty {
    padding: 10% 0;
    font-size: 1.1em;
  }
  .pagination {
    width: 86%;
    margin: 0 7%;
  }
  .pagination a {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1.1em;
  }
  .article {
    margin-bottom: 7%;
  }
  .article .article-header {
    width: 86%;
    margin: 7%;
  }
  .article .article-header .author {
    margin-bottom: 3.5%;
    font-size: 0.7em;
  }
  .article .article-header .author img {
    height: 20px;
    margin-right: 7px;
  }
  .article .article-header h1 {
    font-size: 1.4300000000000002em;
    line-height: 1.2em;
  }
  .article .article-header p.desc {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 7%;
  }
  .article .article-cover {
    height: auto;
    margin-bottom: 7%;
  }
  .article .article-cover picture img {
    transform: scale(1);
  }
  .article .article-cover .article-header {
    width: 86%;
    padding: 10% 7%;
    padding-top: 20%;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.95) 100%);
  }
  .article section {
    width: 86%;
    margin: 0 7%;
    margin-bottom: 7%;
  }
  .article section h2 {
    font-size: 1.375em;
    margin-bottom: 5%;
    line-height: 1.2em;
  }
  .article section p {
    font-size: 1.1em;
    line-height: 1.6em;
  }
  .article p.content {
    width: 86%;
    margin: 0 7%;
    margin-bottom: 7%;
    font-size: 1.1em;
    line-height: 1.5em;
  }
  .article blockquote {
    width: 86%;
    margin: 0 7%;
    margin-bottom: 7%;
  }
  .article blockquote i.fa-quote-left,
  .article blockquote i.fa-quote-right {
    font-size: 1.4300000000000002em;
  }
  .article blockquote p {
    width: 90%;
    padding: 1% 5%;
    font-size: 1.4300000000000002em;
    line-height: 1.3em;
  }
  .article blockquote footer {
    width: 80%;
    padding: 3.5% 10%;
    font-size: 1.1em;
  }
  .article .google-map {
    width: 100%;
    margin: 0;
    margin-bottom: 5%;
  }
  .article .google-map figcaption {
    width: 90%;
    padding: 2% 5%;
  }
  .article .google-map a.btn-open-map {
    top: 7%;
    right: 7%;
    padding: 15px;
    font-size: 1.1em;
  }
  .article figure.content {
    width: 100%;
    margin: 0%;
    margin-bottom: 7%;
  }
  .article figure.content .image-not-found {
    padding: 25% 0%;
    font-size: 1.1em;
  }
  .article figure.content figcaption {
    width: 86%;
    font-size: 0.7em;
    padding: 3.5% 7%;
  }
  .article figure.content .videoWrapper {
    margin-top: 2%;
  }
  .article .tag {
    width: 86%;
    margin: 0 7%;
    margin-bottom: 7%;
    padding-top: 7%;
  }
  .article .tag a {
    margin-right: 7%;
    margin-bottom: 7%;
    font-size: 1.1em;
  }
  .article .documents {
    width: 100%;
    margin: 0%;
    margin-bottom: 7%;
    padding-top: 7%;
  }
  .article .documents h2 {
    width: 90%;
    margin: 0 5%;
    font-size: 1.54em;
    margin-bottom: 5%;
  }
  .article .documents .document-items {
    width: 100%;
    margin-bottom: 3%;
    margin-right: 0%;
    border-radius: 0;
    box-shadow: none;
    background: #EEEEEE;
  }
  .article .documents .document-items .icon {
    width: 10%;
    padding: 2% 4%;
    font-size: 1.6em;
  }
  .article .documents .document-items .detail {
    width: 78%;
    padding: 2% 0;
    padding-right: 4%;
  }
  .article .documents .document-items .detail .name {
    font-size: 1.1em;
  }
  .article .documents .document-items .detail .desc {
    font-size: 0.7em;
  }
  .qrcode {
    width: 86%;
    margin: 0 7%;
    margin-bottom: 7%;
  }
  .qrcode h3 {
    font-size: 1.32em;
    margin-bottom: 7%;
  }
  .qrcode .qrcode-img {
    width: 30%;
  }
  .qrcode .guild {
    width: 63%;
    margin-top: 0%;
  }
  .facebook-comment {
    width: 100%;
    margin: 0%;
    margin-bottom: 7%;
  }
  .facebook-comment h3 {
    width: 86%;
    margin: 0 7%;
    font-size: 1.32em;
    margin-bottom: 3.5%;
  }
  .facebook-comment .fb-comments {
    width: 92%;
    margin: 0 4%;
  }
  .sharing {
    width: 86%;
    margin: 0 7%;
    margin-bottom: 7%;
  }
  .sharing .sharing-items {
    margin-left: 5%;
  }
  .pagehead {
    width: 86%;
    padding: 7%;
    font-size: 1.1em;
  }
  .footer {
    width: 86%;
    padding: 7%;
    margin-top: 5%;
    text-align: left;
  }
  .footer .link {
    font-size: 1.1em;
    margin-bottom: 0%;
  }
  .footer .link a {
    float: left;
    display: inline-block;
    padding: 0%;
    margin-right: 7%;
    margin-bottom: 7%;
  }
  .footer .link a i {
    margin-right: 5px;
  }
  .footer .license {
    font-size: 0.7em;
  }
  .page-nav {
    display: none;
  }
  .about {
    width: 86%;
    margin: 0 7%;
  }
  .about .content {
    padding: 7% 0%;
  }
  .about .content h1 {
    font-size: 2em;
    margin-bottom: 3.5%;
  }
  .about .content p {
    font-size: 1.1em;
    margin-bottom: 5%;
  }
  .about .content figure {
    margin-bottom: 7%;
  }
  .about .content .profile .profile-items {
    width: 100%;
    margin-bottom: 3.5%;
    margin-right: 0%;
    border-radius: 5px;
  }
  .about .content .profile .profile-items .thumbnail {
    width: 25%;
    margin-right: 5%;
  }
  .about .content .profile .profile-items .info {
    width: 70%;
    padding-top: 3%;
  }
  .about .content .profile .profile-items .info h2 {
    font-size: 1.1em;
  }
  .about .content .profile .profile-items .info p {
    font-size: 0.7em;
  }
  .about .content iframe {
    height: 300px;
    margin-bottom: 7%;
  }
  .login .logo {
    padding: 7% 0%;
    margin-top: 0%;
  }
  .login .logo a img {
    height: 40px;
  }
  .login .content {
    width: 86%;
    margin: 0 7%;
    margin-bottom: 7%;
  }
  .login .content .btn {
    padding: 5.6% 0%;
    font-size: 1.1em;
  }
  .login .content .btn i {
    margin-left: 15px;
  }
  .login .content .separator {
    padding: 7% 0%;
    font-size: 1.1em;
  }
  .login .content .inputtext {
    padding: 5%;
    margin-bottom: 3.5%;
  }
  .login .message {
    font-size: 1.1em;
  }
  .announce {
    width: 86%;
    margin: 0% 7%;
    margin-top: 45%;
  }
  .announce h2 {
    font-size: 1.54em;
  }
  .announce p {
    margin-top: 2%;
    font-size: 0.7em;
  }
  .announce a {
    margin-top: 15%;
    font-size: 1.1em;
    padding: 3% 5%;
    border-radius: 5px;
  }
  .announce a i {
    margin-right: 10px;
  }
}
