@import url('https://fonts.googleapis.com/css?family=Oleo+Script');
/**
 * Global Reset of all HTML Elements
 *
 * Resetting all of our HTML Elements ensures a smoother
 * visual transition between browsers. If you don't believe me,
 * try temporarily commenting out this block of code, then go
 * and look at Mozilla versus Safari, both good browsers with
 * a good implementation of CSS. The thing is, all browser CSS
 * defaults are different and at the end of the day if visual
 * consistency is what we're shooting for, then we need to
 * make sure we're resetting all spacing elements.
 *
 */
html,
body {
  border: 0;
  font-family: "Helvetica-Neue", "Helvetica", Arial, sans-serif;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}
div,
span,
object,
iframe,
img,
table,
caption,
thead,
tbody,
tfoot,
tr,
tr,
td,
article,
aside,
canvas,
details,
figure,
hgroup,
menu,
nav,
footer,
header,
section,
summary,
mark,
audio,
video {
  border: 0;
  margin: 0;
  padding: 0;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
address,
cit,
code,
del,
dfn,
em,
ins,
q,
samp,
small,
strong,
sub,
sup,
b,
i,
hr,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
legend,
label {
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  margin: 0;
  padding: 0;
}
article,
aside,
canvas,
figure,
figure img,
figcaption,
hgroup,
footer,
header,
nav,
section,
audio,
video {
  display: block;
}
table {
  border-collapse: separate;
  border-spacing: 0;
}
table caption,
table th,
table td {
  text-align: left;
  vertical-align: middle;
}
a img {
  border: 0;
}
:focus {
  outline: 0;
}
@font-face {
  font-family: 'maledpan';
  src: url('../font/maledpan/maledpan-regular-webfont.eot');
  src: url('../font/maledpan/maledpan-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../font/maledpan/maledpan-regular-webfont.woff') format('woff'), url('../font/maledpan/maledpan-regular-webfont.ttf') format('truetype'), url('../font/maledpan/maledpan-regular-webfont.svg#mitr') format('svg');
  font-weight: normal;
  font-style: normal;
}
html {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
a[href],
button {
  -ms-touch-action: none;
  /* IE10 */
  touch-action: none;
  /* IE11 */
}
body {
  background: #f5f5f5;
  overflow-x: hidden;
}
body.fillcolor {
  background: #ff6d00;
}
.autosize {
  -webkit-transition: height 0.2s;
  -moz-transition: height 0.2s;
  transition: height 0.2s;
}
.header {
  position: relative;
  width: 70%;
  padding: 0 15%;
  float: left;
  display: inline-block;
  height: 56px;
  background: #ff6d00;
  z-index: 999;
  top: 0;
}
.header.transparent {
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, rgba(0, 0, 0, 0) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#a6000000', endColorstr='#00000000', GradientType=0);
  border-bottom: 0;
}
.header.transparent .logo a {
  color: #FFFFFF;
  text-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
}
.header.transparent .logo i {
  color: #ff6d00;
}
.header.transparent a.btn-icon {
  color: #FFFFFF;
}
.header .logo {
  float: left;
  display: inline-block;
  height: 30px;
  padding: 13px 0%;
}
.header .logo a {
  font-family: "maledpan", sans-serif;
  font-size: 1.4em;
  line-height: 1.3em;
  text-decoration: none;
  color: #FFFFFF;
}
.header .logo i {
  text-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
.header .logo span {
  margin-left: 10px;
}
.header .btn-icon {
  float: left;
  display: inline-block;
  height: 20px;
  padding: 18px 20px;
  line-height: 1em;
  font-size: 1.1em;
  color: #FFFFFF;
  font-family: "maledpan", sans-serif;
  text-decoration: none;
}
.header .btn-icon.right {
  float: right;
}
.header .btn-icon:hover {
  cursor: pointer;
}
.header .btn-icon span {
  margin-right: 10px;
}
.header #btn-category {
  display: none;
}
.navigation {
  width: 70%;
  padding: 0 15%;
  height: 56px;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  position: relative;
  transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
}
.navigation a {
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  line-height: 1em;
  height: 20px;
  padding: 18px 0px;
  margin-right: 3%;
  text-decoration: none;
  color: #111111;
}
.navigation a.active {
  color: #ff6d00;
}
.cover {
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  overflow: hidden;
  height: 70vh;
}
.cover img {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: -200px;
}
.cover .filter {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1;
}
.cover .content {
  width: 100%;
  float: left;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 14%;
  text-align: center;
  z-index: 2;
  font-family: "maledpan", sans-serif;
}
.cover .content h1 {
  color: #FFFFFF;
  font-size: 3.3800000000000003em;
  line-height: 1.5em;
}
.cover .content p {
  font-size: 1.2em;
  color: rgba(255, 255, 255, 0.7);
}
.section {
  width: 70%;
  margin: 0 15%;
  float: left;
  display: inline-block;
  margin-top: 4%;
  padding-bottom: 3%;
}
.section h3 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.56em;
  font-family: "maledpan", sans-serif;
  margin-bottom: 3%;
  color: #333333;
  line-height: 1em;
}
.section h3 i {
  margin-right: 10px;
  color: #ff6d00;
}
.section .article-sticky {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);
}
.section .article-sticky .image {
  width: 66%;
  float: left;
  display: inline-block;
}
.section .article-sticky .image img {
  width: 100%;
  float: left;
  display: inline-block;
}
.section .article-sticky header {
  width: 28.33%;
  padding-top: 3%;
  padding-right: 3%;
  float: right;
  display: inline-block;
}
.section .article-sticky header .category {
  float: left;
  display: inline-block;
  font-size: 0.75em;
  background: #ff6d00;
  color: #FFFFFF;
  margin-bottom: 3%;
  border-radius: 5px;
  padding: 0 5px;
}
.section .article-sticky header h2 {
  width: 100%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  margin-bottom: 5%;
  line-height: 1.25em;
  font-weight: normal;
}
.section .article-sticky header h2 a {
  color: #111111;
  text-decoration: none;
}
.section .article-sticky header p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #666666;
}
.section .article-sticky header p.info {
  margin-top: 5%;
  color: #999999;
  font-style: italic;
}
.section .article-sticky header p.info .owner {
  color: #ff6d00;
}
.section .lists {
  width: 100%;
  float: left;
  display: inline-block;
}
.section .lists .article-card {
  width: 48.5%;
  margin-bottom: 3%;
  margin-right: 3%;
  min-height: 144px;
  float: left;
  display: inline-block;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);
}
.section .lists .article-card:nth-child(even) {
  margin-right: 0;
}
.section .lists .article-card .thumbnail {
  width: 30%;
  float: left;
  display: inline-block;
}
.section .lists .article-card .thumbnail img {
  width: 100%;
  float: left;
  display: inline-block;
}
.section .lists .article-card .thumbnail img:hover {
  opacity: 0.9;
}
.section .lists .article-card header {
  width: 60%;
  padding: 5%;
  float: left;
  display: inline-block;
}
.section .lists .article-card header.fullsize {
  width: 90%;
}
.section .lists .article-card header h2 {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
  line-height: 1.3em;
  font-weight: normal;
  margin-bottom: 2%;
  letter-spacing: 0.01em;
}
.section .lists .article-card header h2 a {
  text-decoration: none;
  color: #111111;
}
.section .lists .article-card header p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #BBBBBB;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.section .lists .article-card header p .owner {
  color: #ff6d00;
}
.section .lists .empty {
  width: 100%;
  padding: 10% 0;
  float: left;
  display: inline-block;
  text-align: center;
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  color: #DDDDDD;
  font-style: italic;
}
.section a.read-more {
  width: 15%;
  margin: 0 39%;
  float: left;
  display: inline-block;
  background: transparent;
  text-decoration: none;
  color: #999999;
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  line-height: 1em;
  padding: 1.5% 2%;
  text-align: center;
  border-radius: 5px;
}
.section a.read-more i {
  margin-left: 5px;
}
.section a.read-more:hover {
  background: #ff6d00;
  color: #FFFFFF;
}
.pagination {
  width: 70%;
  margin: 0 15%;
  float: left;
  display: inline-block;
}
.pagination a {
  float: left;
  display: inline-block;
  color: #999999;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
  margin-right: 5px;
}
.pagination a.active {
  color: #FFFFFF;
  background: #ff6d00;
}
.pagination a:hover {
  cursor: pointer;
}
.article {
  width: 100%;
  float: left;
  display: inline-block;
}
.article .article-header {
  width: 50%;
  margin: 5% 25%;
  margin-top: 56px;
  float: left;
  display: inline-block;
}
.article .article-header .author {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.article .article-header .author .avatar {
  width: 8%;
  float: left;
  display: inline-block;
  margin-right: 3%;
}
.article .article-header .author .avatar img {
  width: 100%;
  float: left;
  display: inline-block;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);
}
.article .article-header .author .detail {
  width: 79%;
  float: left;
  display: inline-block;
  margin-top: -1%;
}
.article .article-header .author .detail .name {
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
  line-height: 1.8em;
  color: #ff6d00;
}
.article .article-header .author .detail .desc {
  font-size: 0.75em;
  color: #333333;
  line-height: 1.3em;
}
.article .article-header .author a.btn-edit {
  width: 10%;
  float: right;
  display: inline-block;
  background: #DADADA;
  text-align: center;
  font-family: "maledpan", sans-serif;
  color: #333333;
  border-radius: 5px;
  padding: 2% 0%;
  font-size: 1.2em;
  line-height: 1em;
  text-decoration: none;
}
.article .article-header .author a.btn-edit:hover {
  cursor: pointer;
  background: #CCCCCC;
}
.article .article-header h1 {
  font-size: 2.6em;
  font-family: "maledpan", sans-serif;
  line-height: 1.2em;
  color: #111111;
  display: block;
}
.article .article-header h1:hover {
  cursor: default;
}
.article .article-header p.desc {
  width: 100%;
  float: left;
  display: block;
  text-align: left;
  font-size: 1.2em;
  line-height: 1.4em;
  margin-top: 3%;
  color: #999999;
  font-style: italic;
}
.article .article-header p.desc:hover {
  cursor: default;
}
.article .article-cover {
  width: 100%;
  float: left;
  display: inline-block;
  margin-top: -56px;
  height: 101vh;
  overflow: hidden;
  position: relative;
  margin-bottom: 5%;
}
.article .article-cover picture img {
  width: 100%;
  float: left;
  display: inline-block;
  transform: scale(1.1);
}
.article .article-cover .article-header {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 50%;
  margin: 0;
  padding: 10% 25%;
  float: left;
  display: inline-block;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.8) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000', GradientType=0);
}
.article .article-cover .article-header .author .detail .name {
  color: #FFFFFF;
}
.article .article-cover .article-header .author .detail .desc {
  color: rgba(255, 255, 255, 0.7);
}
.article .article-cover .article-header .author a.btn {
  color: rgba(255, 255, 255, 0.7);
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.7);
  box-sizing: border-box;
}
.article .article-cover .article-header .author a.btn:hover {
  color: #FFFFFF;
  cursor: pointer;
  border: 1px solid #FFFFFF;
}
.article .article-cover .article-header h1 {
  color: #FFFFFF;
  text-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.article section {
  width: 50%;
  margin: 0 25%;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.article section h2 {
  color: #111111;
  font-size: 1.2em;
  margin-bottom: 2%;
  line-height: 1.3em;
}
.article section p {
  font-size: 1.2em;
  color: #333333;
  line-height: 1.6em;
}
.article p.content {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  line-height: 1.6em;
  color: #333333;
}
.article blockquote {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
}
.article blockquote i.fa-quote-left,
.article blockquote i.fa-quote-right {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 2.4em;
  color: #999999;
}
.article blockquote i.fa-quote-right {
  text-align: right;
}
.article blockquote p {
  width: 90%;
  padding: 1% 5%;
  float: left;
  display: inline-block;
  font-size: 2.2em;
  line-height: 1.3em;
  color: #333333;
  border: 0;
  margin: 0;
  background: transparent;
  resize: none;
  font-style: italic;
}
.article blockquote footer {
  width: 80%;
  padding: 1% 10%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  margin: 0px;
  border: 0px;
  color: #111111;
  background: transparent;
  text-align: right;
}
.article figure.content {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  float: left;
  display: inline-block;
  position: relative;
}
.article figure.content img {
  width: 100%;
  float: left;
  display: inline-block;
}
.article figure.content .image-not-found {
  width: 100%;
  padding: 25% 0%;
  float: left;
  display: inline-block;
  background: #EEEEEE;
  text-align: center;
  font-size: 1.2em;
  font-style: italic;
  color: #CCCCCC;
  letter-spacing: 2px;
}
.article figure.content a.btn-open-map {
  position: absolute;
  top: 82%;
  right: 7%;
  background: #ff6d00;
  color: #FFFFFF;
  text-decoration: none;
  padding: 15px;
  line-height: 1em;
  font-size: 1.2em;
  border-radius: 50%;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
}
.article figure.content a.btn-open-map:hover {
  cursor: pointer;
  box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
}
.article figure.content figcaption {
  width: 98%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 0.75em;
  border: 0px;
  padding: 2% 1%;
  background: transparent;
  font-style: italic;
  color: #999999;
}
.article figure.content .videoWrapper {
  width: 100%;
  float: left;
  display: inline-block;
  position: relative;
  padding-bottom: 56.25%;
  margin-top: 2%;
  height: 0;
}
.article figure.content .videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.article .tag {
  width: 50%;
  margin: 0 25%;
  margin-bottom: 5%;
  padding-top: 3%;
  float: left;
  display: inline-block;
}
.article .tag a {
  float: left;
  display: inline-block;
  font-style: italic;
  text-decoration: none;
  margin-right: 2%;
  margin-bottom: 2%;
  line-height: 1em;
  color: #BBBBBB;
  font-size: 1.2em;
}
.article .tag a:hover {
  color: #111111;
}
.pagehead {
  width: 70%;
  padding: 1.5% 15%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
  background: #EEEEEE;
  color: #ff6d00;
  font-weight: normal;
}
form.search {
  width: 70%;
  padding: 0 15%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
  background: #EEEEEE;
  color: #ff6d00;
  font-weight: normal;
  position: relative;
}
form.search i {
  width: 2%;
  float: left;
  display: inline-block;
  position: absolute;
  top: 0;
  left: 15%;
  font-size: 1.2em;
  padding: 2% 0;
  line-height: 2em;
  color: #999999;
}
form.search input[type="text"] {
  width: 92%;
  padding: 2% 4%;
  float: left;
  display: inline-block;
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  border: 0;
  margin: 0;
  background: transparent;
  color: #333333;
}
.footer {
  width: 70%;
  padding: 3% 15%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 5%;
}
.footer .link {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
  margin-bottom: 2%;
}
.footer .link a {
  padding: 1%;
  color: #333333;
  text-decoration: none;
  line-height: 1em;
}
.footer .link a i {
  margin-right: 5px;
}
.footer .link a:hover {
  text-decoration: underline;
}
.footer .license {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 0.75em;
  color: #999999;
}
.page-nav {
  position: fixed;
  top: 112px;
  right: 15%;
  width: 10%;
  padding: 0% 3%;
  margin-top: 2.8%;
  border-left: 1px solid #EEEEEE;
}
.page-nav a {
  width: 100%;
  padding: 3% 0;
  float: left;
  display: inline-block;
  text-decoration: none;
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  color: #666666;
}
.page-nav a.active {
  color: #F55704;
}
.about {
  width: 50%;
  margin-left: 15%;
  float: left;
  display: inline-block;
}
.about .content {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: inline-block;
}
.about .content h1 {
  font-size: 2em;
  font-family: "maledpan", sans-serif;
  margin-bottom: 3%;
  line-height: 1em;
  font-weight: normal;
  color: #111111;
}
.about .content p {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.1em;
  margin-bottom: 5%;
  color: #333333;
}
.about .content a {
  color: #ff6d00;
}
.about .content figure {
  width: 100%;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.about .content figure img {
  width: 100%;
  float: left;
  display: inline-block;
}
.about .content .profile {
  width: 100%;
  float: left;
  display: inline-block;
}
.about .content .profile .profile-items {
  width: 48.5%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
  margin-right: 3%;
  background: #FFFFFF;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);
}
.about .content .profile .profile-items:nth-child(even) {
  margin-right: 0;
}
.about .content .profile .profile-items .thumbnail {
  width: 20%;
  float: left;
  display: inline-block;
  margin-right: 5%;
}
.about .content .profile .profile-items .thumbnail img {
  width: 100%;
  float: left;
  display: inline-block;
}
.about .content .profile .profile-items .info {
  width: 75%;
  float: left;
  display: inline-block;
  padding-top: 2%;
}
.about .content .profile .profile-items .info h2 {
  font-family: "maledpan", sans-serif;
  font-size: 1.2em;
  font-weight: normal;
}
.about .content .profile .profile-items .info p {
  font-size: 0.75em;
  color: #ff6d00;
}
.about .content iframe {
  width: 100%;
  height: 500px;
  float: left;
  display: inline-block;
  margin-bottom: 5%;
}
.login {
  width: 100%;
  margin: 0%;
  float: left;
  display: inline-block;
}
.login .logo {
  width: 100%;
  padding: 3% 0%;
  float: left;
  display: inline-block;
  text-align: center;
  margin-top: 4%;
}
.login .logo a {
  color: #FFFFFF;
  font-size: 2em;
  font-family: "maledpan", sans-serif;
  text-decoration: none;
}
.login .logo a i {
  margin-right: 15px;
}
.login .content {
  width: 24%;
  margin: 0 38%;
  float: left;
  display: inline-block;
  margin-bottom: 3%;
}
.login .content .btn {
  width: 100%;
  padding: 5.6% 0%;
  float: left;
  display: inline-block;
  text-align: center;
  font-size: 1.2em;
  background: #FFFFFF;
  color: #ff6d00;
  border: 0px;
  border-radius: 5px;
  font-family: "maledpan", sans-serif;
  line-height: 1em;
  text-decoration: none;
  box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);
}
.login .content .btn i {
  margin-left: 15px;
}
.login .content .btn.btn-facebook {
  color: #FFFFFF;
  background: #3b5998;
}
.login .content .btn:hover {
  cursor: pointer;
}
.login .content .separator {
  width: 100%;
  padding: 5% 0%;
  float: left;
  display: block;
  text-align: center;
  font-style: italic;
  color: #FFFFFF;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
}
.login .content .inputtext {
  width: 100%;
  float: left;
  display: inline-block;
  font-size: 1.2em;
  padding: 4% 5%;
  margin: 0;
  border: 0;
  background: transparent;
  border-radius: 5px;
  margin-bottom: 5%;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  color: #FFFFFF;
  font-family: "maledpan", sans-serif;
}
.login .content .inputtext::-webkit-input-placeholder {
  color: #994100;
}
.login .content .inputtext::-moz-placeholder {
  color: #994100;
}
.login .content .inputtext:-ms-input-placeholder {
  color: #994100;
}
.login .content .inputtext:hover {
  cursor: pointer;
}
.login .message {
  width: 100%;
  float: left;
  display: inline-block;
  text-align: center;
  color: #994100;
  font-size: 1.2em;
  font-family: "maledpan", sans-serif;
}
.login .message a {
  color: #FFFFFF;
  text-decoration: underline;
}
.announce {
  width: 50%;
  margin: 0% 25%;
  margin-top: 24%;
  float: left;
  display: inline-block;
  text-align: center;
}
.announce h2 {
  font-family: "maledpan", sans-serif;
  font-weight: normal;
  color: #333333;
  font-size: 1.2em;
}
.announce h2 i {
  margin-right: 15px;
  color: #ff6d00;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  z-index: 999;
  display: none;
}
.overlay:hover {
  cursor: pointer;
}
/* Other Device and Screen */
@media only screen and (min-width: 0px) and (max-width: 519px) {
  .header {
    width: 100%;
    padding: 0%;
  }
  .header .logo {
    padding: 13px 5%;
  }
  .header .btn-icon {
    padding: 18px 5%;
    font-size: 1.2em;
  }
  .header #btn-category {
    display: block;
  }
  .navigation {
    position: fixed;
    top: 0;
    right: -80%;
    height: 100%;
    width: 80%;
    padding: 0;
    z-index: 9999;
  }
  .navigation a {
    width: 80%;
    font-size: 1.1em;
    line-height: 1em;
    height: 20px;
    padding: 18px 10%;
    margin: 0;
    border-bottom: 1px solid #EEEEEE;
  }
  .navigation.active {
    box-shadow: -2px 0px 10px rgba(0, 0, 0, 0.2);
    transform: translate3d(-100%, 0, 0);
    -webkit-transform: translate3d(-100%, 0, 0);
  }
  .cover {
    height: auto;
  }
  .cover img {
    margin-top: 0px;
  }
  .cover .content {
    width: 90%;
    padding: 5%;
    margin-top: 14%;
    text-align: left;
  }
  .cover .content h1 {
    font-size: 2.2em;
    line-height: 1.2em;
    margin-bottom: 3%;
  }
  .cover .content p {
    font-size: 1.1em;
  }
  .section {
    width: 100%;
    margin: 5% 0%;
    padding-bottom: 5%;
  }
  .section h3 {
    width: 90%;
    font-size: 1.2100000000000002em;
    margin: 0 5%;
    margin-bottom: 5%;
    line-height: 1em;
  }
  .section .article-sticky {
    margin-bottom: 3%;
    border-radius: 0;
    box-shadow: none;
  }
  .section .article-sticky .image {
    width: 100%;
  }
  .section .article-sticky header {
    width: 90%;
    padding: 5%;
  }
  .section .article-sticky header .category {
    font-size: 0.7em;
    margin-bottom: 5%;
  }
  .section .article-sticky header h2 {
    font-size: 1.1em;
    margin-bottom: 5%;
    line-height: 1.25em;
  }
  .section .article-sticky header p {
    font-size: 0.7em;
  }
  .section .lists .article-card {
    width: 100%;
    margin: 0;
    margin-bottom: 3%;
    min-height: initial;
    border-radius: 0px;
    box-shadow: none;
  }
  .section .lists .article-card .thumbnail {
    width: 30%;
  }
  .section .lists .article-card header {
    width: 60%;
    padding: 5%;
  }
  .section .lists .article-card header h2 {
    font-size: 1.1em;
    line-height: 1.3em;
    margin-bottom: 2%;
    letter-spacing: 0.01em;
  }
  .section .lists .article-card header p {
    font-size: 0.7em;
  }
  .section .lists .empty {
    padding: 15% 0;
    font-size: 1.1em;
  }
  .section a.read-more {
    width: 90%;
    margin: 0%;
    font-size: 1.1em;
    padding: 5%;
    border-radius: 0px;
  }
  .pagination {
    width: 90%;
    margin: 0% 5%;
  }
  .pagination a {
    font-size: 1.1em;
  }
  .article {
    width: 100%;
    float: left;
    display: inline-block;
  }
  .article .article-header {
    width: 90%;
    margin: 5%;
  }
  .article .article-header .author {
    margin-bottom: 5%;
  }
  .article .article-header .author .avatar {
    width: 20%;
    margin-right: 5%;
  }
  .article .article-header .author .avatar img {
    width: 100%;
    float: left;
    display: inline-block;
    border-radius: 50%;
    box-shadow: 0px 2px 10px rgba(100, 100, 100, 0.2);
  }
  .article .article-header .author .detail {
    width: 75%;
    margin-top: -2%;
  }
  .article .article-header .author .detail .name {
    font-size: 1.1em;
    line-height: 1.8em;
  }
  .article .article-header .author .detail .desc {
    font-size: 0.7em;
    line-height: 1.3em;
  }
  .article .article-header .author a.btn-edit {
    width: 100%;
    padding: 2% 0%;
    font-size: 1.1em;
    margin-top: 5%;
  }
  .article .article-header h1 {
    font-size: 2.2em;
    line-height: 1.2em;
  }
  .article .article-header p.desc {
    font-size: 1.1em;
    line-height: 1.4em;
    margin-top: 5%;
  }
  .article .article-cover {
    height: auto;
    margin-bottom: 5%;
  }
  .article .article-cover picture img {
    transform: scale(1);
  }
  .article .article-cover .article-header {
    width: 90%;
    padding: 5%;
  }
  .article section {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 5%;
  }
  .article section h2 {
    color: #111111;
    font-size: 1.1em;
    margin-bottom: 2%;
    line-height: 1.3em;
  }
  .article section p {
    font-size: 1.1em;
    color: #333333;
    line-height: 1.6em;
  }
  .article p.content {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 5%;
    font-size: 1.1em;
    line-height: 1.6em;
  }
  .article blockquote {
    width: 50%;
    margin: 0 25%;
    margin-bottom: 5%;
    float: left;
    display: inline-block;
  }
  .article blockquote i.fa-quote-left,
  .article blockquote i.fa-quote-right {
    width: 100%;
    float: left;
    display: inline-block;
    font-size: 2.4em;
    color: #999999;
  }
  .article blockquote i.fa-quote-right {
    text-align: right;
  }
  .article blockquote p {
    width: 90%;
    padding: 1% 5%;
    float: left;
    display: inline-block;
    font-size: 2.2em;
    line-height: 1.3em;
    color: #333333;
    border: 0;
    margin: 0;
    background: transparent;
    resize: none;
    font-style: italic;
  }
  .article blockquote footer {
    width: 80%;
    padding: 1% 10%;
    float: left;
    display: inline-block;
    font-size: 1.2em;
    margin: 0px;
    border: 0px;
    color: #111111;
    background: transparent;
    text-align: right;
  }
  .article figure.content {
    width: 100%;
    margin: 0%;
    margin-bottom: 5%;
  }
  .article figure.content .image-not-found {
    width: 100%;
    padding: 25% 0%;
    float: left;
    display: inline-block;
    background: #EEEEEE;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    color: #CCCCCC;
    letter-spacing: 2px;
  }
  .article figure.content a.btn-open-map {
    position: absolute;
    top: 82%;
    right: 7%;
    background: #ff6d00;
    color: #FFFFFF;
    text-decoration: none;
    padding: 15px;
    line-height: 1em;
    font-size: 1.1em;
    border-radius: 50%;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.2);
  }
  .article figure.content a.btn-open-map:hover {
    cursor: pointer;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.4);
  }
  .article figure.content figcaption {
    width: 90%;
    font-size: 0.7em;
    padding: 2% 5%;
  }
  .article figure.content .videoWrapper {
    margin-top: 2%;
  }
  .article .tag {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 5%;
    padding-top: 5%;
  }
  .article .tag a {
    margin-right: 5%;
    margin-bottom: 5%;
  }
  .pagehead {
    width: 90%;
    padding: 5%;
    font-size: 1.1em;
  }
  form.search {
    width: 90%;
    padding: 0 5%;
    font-size: 1.1em;
  }
  form.search i {
    width: 5%;
    left: 5%;
    font-size: 1.1em;
    padding: 2% 0;
    line-height: 2em;
  }
  form.search input[type="text"] {
    width: 90%;
    padding: 2% 0%;
    padding-left: 10%;
    font-size: 1.1em;
  }
  .footer {
    width: 90%;
    padding: 5%;
    margin-top: 5%;
    text-align: left;
  }
  .footer .link {
    font-size: 1.1em;
    margin-bottom: 5%;
  }
  .footer .link a {
    padding: 2%;
    line-height: 1em;
  }
  .footer .license {
    font-size: 0.7em;
  }
  .page-nav {
    display: none;
  }
  .about {
    width: 100%;
    margin: 0%;
    float: left;
    display: inline-block;
  }
  .about .content {
    width: 90%;
    padding: 5%;
  }
  .about .content h1 {
    font-size: 2em;
    margin-bottom: 5%;
  }
  .about .content p {
    font-size: 1.1em;
    margin-bottom: 5%;
  }
  .about .content figure {
    margin-bottom: 5%;
  }
  .about .content .profile .profile-items {
    width: 100%;
    margin-bottom: 5%;
    margin-right: 0%;
    box-shadow: none;
  }
  .about .content .profile .profile-items .thumbnail {
    width: 25%;
    margin-right: 5%;
  }
  .about .content .profile .profile-items .info {
    width: 70%;
    padding-top: 3%;
  }
  .about .content .profile .profile-items .info h2 {
    font-size: 1.1em;
  }
  .about .content .profile .profile-items .info p {
    font-size: 0.7em;
  }
  .about .content iframe {
    height: 300px;
    margin-bottom: 5%;
  }
  .login .logo {
    padding: 5% 0%;
    margin-top: 0%;
    margin-bottom: 5%;
  }
  .login .logo a {
    font-size: 1.4em;
  }
  .login .content {
    width: 90%;
    margin: 0 5%;
    margin-bottom: 5%;
  }
  .login .content .btn {
    padding: 5.6% 0%;
    font-size: 1.1em;
  }
  .login .content .separator {
    font-size: 1.1em;
  }
  .login .content .inputtext {
    font-size: 1.1em;
    padding: 5%;
    margin-bottom: 5%;
  }
  .login .message {
    font-size: 1.1em;
  }
  .announce {
    width: 90%;
    margin: 0% 5%;
    margin-top: 50%;
  }
  .announce h2 {
    font-size: 1.1em;
  }
  .announce h2 i {
    margin-right: 10px;
  }
}
