@font-size-normal 		: 1em;
@font-size-desc 		: 0.65em;
@font-size-icon 		: 1.4em;
@font-size-body 		: 1.2em;


.header{
	width: 100%;
	padding: 0;

	// Only icon button.
	.btn-icon{
		width: 20%;
		height: 20px;
		padding: 18px 0%;
		font-size: @font-size-icon;
	}

	.btn{
		width: 20%;
		height: 20px;
		padding: 18px 0px;
		margin: 0;
		font-size: @font-size-icon;
		text-align: center;
		border-radius: 0;
		background: transparent;
		color: #BBBBBB;

		span{ display: none; }

		&.active{
			color: @primary_color;
			background: transparent;
		}
	}

	#btn-example{ display: none; }

	// Navigation Menu.
	a.menu{
		width: 20%;
		padding: 10px 0%;
		height: 36px;
		font-size: @font-size-icon;
		text-align: center;

		i{ float: initial; }
		span{ display: none; }
	}
}

.pagehead{
	width: 90%;
	margin: 5%;
	padding-bottom: 5%;

	.head{
		width: 70%;

		&.fullsize{ width: 100%; }

		h1{
			font-size: 1.8em;
			font-weight: normal;
		}
		p{
			margin-top: 0.5em;
			font-size: @font-size-normal;
			line-height: 1.2em;
		}
	}
	.action{
		width: 30%;
		margin-top: 3%;

		.btn-create{
			font-size: @font-size-normal;
			line-height: 1em;
			padding: 15px 25px;
			border-radius: 5px;
		}
	}
}

.page-form{
	width: 90%;
	margin: 0% 5%;

	.section{
		margin-bottom: 5%;

		h2{
			font-size: 1.4em;
			color: #333333;
			line-height: 1em;
			margin-bottom: 0.5em;
		}

		p{
			width: 100%;
			margin-right: 0;
			font-size: 1em;
			margin-bottom: 1em;

			&.note{ font-size: 0.65em; }
		}

		.avatar{

			.pic{ width: 35%; }
			.action{
				width: 60%;
				margin-left: 5%;
				margin-top: 0;

				.btn-action{
					width: 100%;
					font-size: @font-size-normal;
					line-height: 1em;
					padding: 15px;
					border-radius: 5px;
					margin: 0;
					margin-bottom: 3%;
					text-align: center;

					i{ margin-right: 10px; }
				}
			}
		}

		.toggle{
			margin-bottom: 5%;

			.toggle-items{
				width: 100%;
				display: flex;
				align-items: center;
				padding: 1% 0;

				.caption{
					width: 75%;
					font-size: 1em;
					line-height: 1.2em;
				}
				.switch{
					width: 25%;
					font-size: @font-size-icon * 1.8;
				}
			}
		}

		input[type="text"] , textarea{
			padding: 15px;
			font-size: 1em;
			line-height: 1.3em;
			margin-bottom: 1%;
		}

		.note{ font-size: 0.8em; }

		.select{
			margin-right: 0;
			margin-bottom: 5%;

			&:after{
				top: 20px;
				right: 15px;
			}

			select{
				font-size: @font-size-normal;
				padding: 15px;
			}
		}

		button{
			width: 100%;
			font-size: @font-size-normal;
			line-height: 1em;
			padding: 15px 0px;
		}

		// Image cover selected
		.list{
			margin-bottom: 5%;

			.items{
				width: 46%;
				margin: 2%;
				padding: 2%;

				&.btn-add-cover{
					padding: 17% 0;
					i{ font-size: 1.6em; }
				}
			}
		}

		// Current Location
		.location-current{
			padding: 5%;
			font-size: 1em;
			line-height: 1.3em;
			margin-bottom: 2.5%;

			.btn{
				top: 10px;
				right: 10px;
				font-size: 0.8em;
				color: #F44336;
			}
		}

		// Location lists
		ul{
			.location-items{
				padding: 5%;
				line-height: 1.2em;
			}
		}

		// Hashtag lists items.
		.tag{
			margin-top: 5%;

			.tag-items{
				padding: 5%;
				margin-right: 2.5%;
				margin-bottom: 2.5%;

				.btn-remove-tag{
					top: 5px;
					right: 5px;
					font-size: 0.7em;
					color: #F44336;
				}
			}
		}

		.inputWrapper{
			span{
				width: 100%;
				margin-bottom: 2.5%;
				padding-right: 0;
				display: inline-block;
				font-size: 1em;
			}
		}
	}
}

.editor{
	padding-bottom: 0;

	.article-header{
		width: 90%;
		margin: 0 5%;

		&.with-cover{
			height: auto;

			span{
				width: 90%;
				padding: 5%;
			}
		}

		.btn{
			font-size: 1.4em;
			padding: 5%;
		}

		textarea{
			font-size: @font-size-body * 1.4;
			line-height: 1.2em;
			min-height: 50px;
		}
	}

	.content{
		width: 90%;
		margin: 0% 5%;
		margin-bottom: 5%;

		// Content Controller Bar (Swap, Delete, Rotate)
		.control{
			margin-bottom: 2.5%;
			.info{ display: none; }

			.btn{
				font-size: 1em;
				padding: 6px 9px;
				color: #999999;

				span{
					margin-left: 7px;
					font-size: 0.9em;
				}
			}
		}

		&.youtube{
			.input-wrapper{
				span{
					width: 20%;
					padding: 5% 0;
					font-size: @font-size-body;
					line-height: 1.3em;
				}

				.youtube_url{
					width: 80%;
					font-size: @font-size-body;
					padding: 5% 0%;
					padding-left: 20%;
				}
			}
			
			.videoWrapper{ margin-top: 5%; }
		}

		&.quote{
			i.fa-quote-left, i.fa-quote-right{ font-size: @font-size-body * 1.4; }

			.quote-body{
				width: 90%;
				padding: 1% 5%;
				font-size: @font-size-body * 1.4;
				line-height: 1.3em;
			}
			.quote-cite{
				width: 80%;
				padding: 1% 10%;
				font-size: @font-size-body;
			}
		}

		&.textbox{
			.textbox-topic{
				padding: 1.2% 0%;
				font-size: @font-size-body * 1.2;
				line-height: 1.3em;
			}
			.textbox-body{
				padding: 1% 0%;
				font-size: @font-size-body;
				line-height: 1.6em;
			}
		}

		// Google Map Embed
		.embed-map{
			height: 300px;
			font-size: @font-size-body;
		}

		.uploading{
			.inprogress{
				width: 80%;
				margin: 0 10%;
				margin-top: 40%;

				.bar{ height: 5px; }
			}
		}

		.alt{
			width: 90%;
			font-size: 1em;
			padding: 2.5% 5%;
		}

		.preview{
			.imgpreview{
				.btn-choose-image{
					padding: 25% 0%;

					span{ font-size: 0.9em; }
				}
			}
		}
	}

	.tools-bar{
		width: 100%;
		margin: 5% 0%;
		margin-bottom: 0;

		.btn-tool{
			flex-grow: 1;
			padding: 5% 0;
			font-size: @font-size-icon;
		}
	}

	.between-option{
		width: 90%;
		padding: 2% 0%;
		margin: 0% 5%;
		margin-bottom: 2.5%;
		background: #EEEEEE;

		.more-option{
			top: 5%;
			width: 100%;
			margin: 0%;

			.btnAction{
				width: 20%;
				padding: 3% 0%;
				padding-top: 4%;

				i{
					font-size: @font-size-icon;
					margin-bottom: 3px;
				}
				span{ font-size: 0.7em; }
			}
		}
	}

	.documents{
		width: 90%;
		margin: 0 5%;

		.document-items{
			margin-bottom: 2%;

			.icon{
				width: 18%;
				padding: 2% 0;
				font-size: @font-size-icon;
			}
			.detail{
				width: 72%;
				padding: 3% 0;
				padding-right: 10%;

				.file_title{
					font-size: 1em;
					line-height: 1.2em;
				}
				p{ font-size: @font-size-desc; }
			}

			.btn{ padding: 3%; }
		}
	}
}

.filter{
	width: 90%;
	margin: 0% 5%;
	margin-bottom: 5%;

	p{
		font-size: @font-size-normal;
		margin-bottom: 5%;
	}

	.select{
		width: 66%;
		float: left;
		display: inline-block;
		position: relative;
		margin-right: 0;

		&.number{
			width: 30%;
			float: right;
		}

		&:after{
			top: 20px;
			right: 15px;
		}

		select{
			font-size: @font-size-normal;
			padding: 15px;
		}
	}

	.btn-create{
		width: 100%;
		margin-top: 5%;
		font-size: @font-size-normal;
		line-height: 1em;
		padding: 15px 0px;
	}
}

.pagination{
	width: 90%;
	margin: 0;

	a{
		width: 20%;
		padding: 5% 0;
		font-size: 1em;
		text-align: center;

		&.active{
			color: @primary_color;
			background: transparent;

			&:hover{ background: transparent; }
		}
	}
}

// Container All Items (Articles, Category, Section)
.lists{
	width: 90%;
	padding: 0% 5%;
	padding-bottom: 5%;

	// Article items
	.article-items{
		margin-bottom: 2.5%;

		.sticky{
			content: '';
			border-top: 30px solid rgba(0,0,0,0.2);
			border-left: 30px solid transparent;
			position: absolute;
			z-index: 2;
			top: 0;
			right: 0;

			&.active{
				border-top: 30px solid #FFAB00;
				&:hover{ border-top: 30px solid #FFAB00; }
			}

			&:hover{
				border-top: 30px solid rgba(0,0,0,0.4);
				cursor: pointer;
			}
		}

		.thumbnail{ width: 30%; }
		.icon{
			width: 30%;
			font-size: 2em;
		}
		.content{
			width: 50%;
			padding: 2.5% 5%;

			&.fullsize{ width: 60%; }

			h2{
				font-size: 0.9em;
				line-height: 1.2em;
				margin-top: 0.5%;
				margin-bottom: 1%;
			}

			p{
				font-size: @font-size-desc;
				i{ margin-left: 5px; }
			}
		}

		.btn-publish{
			width: 10%;
			padding: 2% 0;
			font-size: 1.4em;
		}
	}

	// List items (Category, Section, Member)
	.list-items{
		margin-bottom: 2.5%;

		// User Account items
		.avatar{
			width: 12%;
			padding: 4%;
		}

		.icon{
			width: 20%;
			font-size: 1.2em;
		}
		.detail{
			width: 90%;
			padding: 2% 0;
			
			&.btn-1{ width: 60%; }
			&.btn-2{ width: 40%; }
			&.btn-3{ width: 20%; }

			.title{ font-size: 1.1em; }
			.desc{
				font-size: @font-size-desc;
				line-height: 1.2em;
			}
		}
		.icon-select{
			width: 20%;
			font-size: 1.2em;
			padding: 2% 0;
		}
		.btn{
			width: 20%;
			font-size: 1.2em;
			padding: 2% 0;
		}
	}

	.empty{
		padding: 15% 0;
		font-size: 1.2em;
	}
}

// Swap function in Editor page.
.swap{
	right: -80%;
	width: 80%;

	.swap-items{
		width: 80%;
		padding: 2%;
		margin: 0 10%;
		margin-bottom: 5%;
		font-size: 5px;
		line-height: 1.1em;

		&.text{ padding: 5%; }
		&:first-child{ margin-top: 0; }
		i{ padding: 15% 0%; }
	}
}

#progressbar{ height: 5px; }