@title_fontsize : 1.1em;
@desc_fontsize 	: 0.7em;
@topic_fontsize	: 2.2em;
@body_fontsize 	: 1.1em;

.header{
	width: 100%;
	padding: 0%;

	.logo{ padding: 13px 5%; }

	.btn-icon{
		padding: 18px 5%;
		font-size: 1.2em;
	}

	#btn-category{ display: block; }
}

.navigation{
	position: fixed;
	top: 0;
	right: -80%;
	height: 100%;
	width: 80%;
	padding: 0;
	z-index: 9999;

	a{
		width: 80%;
		font-size: @title_fontsize;
		line-height: 1em;
		height: 20px;
		padding: 18px 10%;
		margin: 0;
		border-bottom: 1px solid #EEEEEE;
	}

	&.active{
		box-shadow: -2px 0px 10px rgba(0,0,0,0.2);
		transform: translate3d( -100%, 0, 0 );
		-webkit-transform: translate3d(-100%, 0, 0 );
	}
}

.cover{
	height: auto;
	img{ margin-top: 0px; }

	.content{
		width: 90%;
		padding: 5%;
		margin-top: 14%;
		text-align: left;

		h1{
			font-size: @topic_fontsize;
			line-height: 1.2em;
			margin-bottom: 3%;
		}
		p{ font-size: @title_fontsize; }
	}
}

// Article Container
.section{
	width: 100%;
	margin: 5% 0%;
	padding-bottom: 5%;

	h3{
		width: 90%;
		font-size: @title_fontsize * 1.1;
		margin: 0 5%;
		margin-bottom: 5%;
		line-height: 1em;
	}

	.article-sticky{
		margin-bottom: 3%;
		border-radius: 0;
		box-shadow: none;

		.image{ width: 100%; }
		header{
			width: 90%;
			padding: 5%;

			.category{
				font-size: @desc_fontsize;
				margin-bottom: 5%;
			}
			h2{
				font-size: @title_fontsize;
				margin-bottom: 5%;
				line-height: 1.25em;
			}
			p{ font-size: @desc_fontsize; }
		}
	}

	.lists{
		// Article Card Style.
		.article-card{
			width: 100%;
			margin: 0;
			margin-bottom: 3%;
			min-height: initial;
			border-radius: 0px;
			box-shadow: none;

			.thumbnail{ width: 30%; }

			header{
				width: 60%;
				padding: 5%;

				h2{
					font-size: @title_fontsize;
					line-height: 1.3em;
					margin-bottom: 2%;
					letter-spacing: 0.01em;
				}
				p{ font-size: @desc_fontsize; }
			}
		}
		
		.empty{
			padding: 15% 0;
			font-size: @title_fontsize;
		}
	}

	a.read-more{
		width: 90%;
		margin: 0%;
		font-size: @title_fontsize;
		padding: 5%;
		border-radius: 0px;
	}
}

.pagination{
	width: 90%;
	margin: 0% 5%;

	a{ font-size: @title_fontsize; }
}

.article{
	width: 100%;
	float: left;
	display: inline-block;

	.article-header{
		width: 90%;
		margin: 5%;

		.author{
			margin-bottom: 5%;

			.avatar{
				width: 20%;
				margin-right: 5%;

				img{
					width: 100%;
					float: left;
					display: inline-block;
					border-radius: 50%;
					box-shadow: 0px 2px 10px rgba(100,100,100,0.2);
				}
			}

			.detail{
				width: 75%;
				margin-top: -2%;

				.name{
					font-size: @title_fontsize;
					line-height: 1.8em;
				}
				.desc{
					font-size: @desc_fontsize;
					line-height: 1.3em;
				}
			}

			a.btn-edit{
				width: 100%;
				padding: 2% 0%;
				font-size: @title_fontsize;
				margin-top: 5%;
			}
		}

		h1{
			font-size: @topic_fontsize;
			line-height: 1.2em;
		}

		p.desc{
			font-size: @body_fontsize;
			line-height: 1.4em;
			margin-top: 5%;
		}
	}

	.article-cover{
		height: auto;
		margin-bottom: 5%;

		picture img{ transform: scale(1); }

		.article-header{
			width: 90%;
			padding: 5%;
		}
	}

	section{
		width: 90%;
		margin: 0 5%;
		margin-bottom: 5%;

		h2{
			color: @font_color_topic;
			font-size: @title_fontsize;
			margin-bottom: 2%;
			line-height: 1.3em;
		}

		p{
			font-size: @body_fontsize;
			color: @font_color_body;
			line-height: 1.6em;
		}
	}

	p.content{
		width: 90%;
		margin: 0 5%;
		margin-bottom: 5%;
		font-size: @body_fontsize;
		line-height: 1.6em;
	}

	blockquote{
		width: 50%;
		margin: 0 25%;
		margin-bottom: 5%;
		float: left;
		display: inline-block;

		i.fa-quote-left, i.fa-quote-right{
			width: 100%;
			float: left;
			display: inline-block;
			font-size: 2.4em;
			color: @font_color_light;
		}
		i.fa-quote-right{ text-align: right; }

		p{
			width: 90%;
			padding: 1% 5%;
			float: left;
			display: inline-block;
			font-size: 2.2em;
			line-height: 1.3em;
			color: @font_color_body;
			border: 0;
			margin: 0;
			background: transparent;
			resize: none;
			font-style: italic;
		}
		footer{
			width: 80%;
			padding: 1% 10%;
			float: left;
			display: inline-block;
			font-size: 1.2em;
			margin: 0px;
			border: 0px;
			color: @font_color_topic;
			background: transparent;
			text-align: right;
		}
	}

	figure.content{
		width: 100%;
		margin: 0%;
		margin-bottom: 5%;

		.image-not-found{
			width: 100%;
			padding: 25% 0%;
			float: left;
			display: inline-block;
			background: #EEEEEE;
			text-align: center;
			font-size: 1.2em;
			font-style: italic;
			color: #CCCCCC;
			letter-spacing: 2px;
		}

		a.btn-open-map{
			position: absolute;
			top: 82%;
			right: 7%;
			background: @primary_color;
			color: #FFFFFF;
			text-decoration: none;
			padding: 15px;
			line-height: 1em;
			font-size: @title_fontsize;
			border-radius: 50%;
			box-shadow: 0px 0px 20px rgba(0,0,0,0.2);

			&:hover{
				cursor: pointer;
				box-shadow: 0px 0px 40px rgba(0,0,0,0.4);
			}
		}

		figcaption{
			width: 90%;
			font-size: @desc_fontsize;
			padding: 2% 5%;
		}

		.videoWrapper{ margin-top: 2%; }
	}

	.tag{
		width: 90%;
		margin: 0 5%;
		margin-bottom: 5%;
		padding-top: 5%;

		a{
			margin-right: 5%;
			margin-bottom: 5%;
		}
	}
}

.pagehead{
	width: 90%;
	padding: 5%;
	font-size: @title_fontsize;
}

form.search{
	width: 90%;
	padding: 0 5%;
	font-size: @title_fontsize;

	i{
		width: 5%;
		left: 5%;
		font-size: @title_fontsize;
		padding: 2% 0;
		line-height: 2em;
	}

	input[type="text"]{
		width: 90%;
		padding: 2% 0%;
		padding-left: 10%;
		font-size: @title_fontsize;
	}
}

.footer{
	width: 90%;
	padding: 5%;
	margin-top: 5%;
	text-align: left;

	.link{
		font-size: @title_fontsize;
		margin-bottom: 5%;

		a{
			padding: 2%;
			line-height: 1em;
		}
	}

	.license{ font-size: @desc_fontsize; }
}

.page-nav{ display: none;  }
.about{
	width: 100%;
	margin: 0%;
	float: left;
	display: inline-block;

	.content{
		width: 90%;
		padding: 5%;

		h1{
			font-size: 2em;
			margin-bottom: 5%;
		}
		p{
			font-size: 1.1em;
			margin-bottom: 5%;
		}

		figure{ margin-bottom: 5%; }

		.profile{
			.profile-items{
				width: 100%;
				margin-bottom: 5%;
				margin-right: 0%;
				box-shadow: none;

				.thumbnail{
					width: 25%;
					margin-right: 5%;
				}
				.info{
					width: 70%;
					padding-top: 3%;

					h2{ font-size: @title_fontsize; }
					p{ font-size: @desc_fontsize; }
				}
			}
		}
		
		iframe{
			height: 300px;
			margin-bottom: 5%;
		}
	}
}

.login{
	.logo{
		width: 90%;
		padding: 5%;
		margin-top: 0%;

		a{
			font-size: 1.4em;

			i{ margin-right: 15px; }
		}
	}

	.content{
		width: 90%;
		margin: 0%;
		padding: 5%;
		border-radius: 0px;
		margin-bottom: 5%;
		box-shadow: none;

		h1{
			font-family: @topic_font;
			font-size: 1.6em;
			color: #666666;
			font-weight: normal;
			margin-bottom: 7%;
			text-align: center;
			line-height: 1em;
		}

		.btn{
			width: 100%;
			padding: 5.6% 0%;
			float: left;
			display: inline-block;
			text-align: center;
			font-size: 1.2em;
			background: #4CAF50;
			color: #FFFFFF;
			border: 0px;
			border-radius: 5px;
			font-family: @topic_font;
			line-height: 1em;
			text-decoration: none;

			i{ margin-left: 15px; }

			&.btn-facebook{
				background: #3b5998;

				i{
					margin-left: 0;
					margin-right: 15px;
				}
			}

			&:hover{ cursor: pointer; }
		}

		.separator{
			width: 100%;
			padding: 5% 0%;
			float: left;
			display: block;
			text-align: center;
			font-style: italic;
			color: #999999;
		}

		.inputtext{
			width: 88%;
			float: left;
			display: inline-block;
			font-size: 1.1em;
			padding: 6%;
			margin: 0;
			border: 0;
			background: #DDDDDD;
			border-radius: 5px;
			margin-bottom: 5%;

			&:hover{ cursor: pointer; }
			&:focus{ background: #DADADA; }
		}
	}

	.message{
		width: 100%;
		float: left;
		display: inline-block;
		text-align: center;
		color: #EEEEEE;
		font-size: 1em;

		a{
			color: #FFFFFF;
			text-decoration: underline;
		}
	}
}

.announce{
	width: 90%;
	margin: 0% 5%;
	margin-top: 50%;

	h2{
		font-size: @title_fontsize;
		i{ margin-right: 10px; }
	}
}