@import "reset";
@import "config";

.header{
	width: 100%;
	height: 50px;
	float: left;
	display: inline-block;
	z-index: 50;
	.transitionAnimation(0.2s);

	&.fixed{
		position: fixed; top: 0; left: 0;
		background: rgba(255,255,255,0.9);
	}

	&.shadow{
		background: rgba(0,77,64,0.95);
		.title{ color: #1abc9c; }
	}

	&.light{
		a.logo .detail .name{ color: #050505; }
		a.logo .detail .desc{ color: #999999; }
		.btn{ color: #666666; &:active{ background: @border_color; } }
		.btn-profile{ color: #666666; }
	}

	.page-icon{
		float: left;
		display: inline-block;
		padding: 10px 1%;
		padding-right: 0%;
		height: 30px;
		font-size: 1.2em;
		color: #999999;

		&:hover{
			color: #666666;
			cursor: pointer;
		}
	}

	a.logo{
		width: 28%;
		float: left;
		display: inline-block;
		padding: 10px 1.5%;
		height: 30px;
		color: #FFFFFF;
		text-decoration: none;
		line-height: 1em;
		font-size: 1em;

		img{
			float: left;
			display: inline-block;
			height: 30px;
			margin-right: 10px;
			margin-top: 0px;
		}

		.detail{
			float: left;
			display: inline-block;

			.name{ font-family: @topic_font; }
			.desc{
				font-size: 0.5em;
				color: #1abc9c;
			}
		}
	}

	.btn{
		float: right;
		display: inline-block;
		padding: 7px;
		margin: 9px 0px;
		margin-left: 7px;
		height: 18px;
		color: #333333;
		text-decoration: none;
		font-size: 1em;
		line-height: 1em;
		position: relative;
		border-radius: 5px;
		font-family: @topic_font;
		position: relative;

		i{
			float: left;
			display: inline-block;
			font-size: 1.2em;
			margin-right: 7px;
			margin-top: -1px;
		}

		&:hover{ cursor: pointer; }
		&:active{ background: #327066; }

		&.btn-back{ float: left; }
		&.btn-cancel{
			color: #F44336;
			&:active{ background: #F44336; color: #FFFFFF; }
		}

		&.btn-login{
			i{
				float: right;
				margin-right: 0px;
				margin-left: 7px;
			}
		}

		.more-menu{
			position: absolute;
			width: 200px;
			top: 105%;
			right: 5%;
			padding: 10px 0%;
			background: #FFFFFF;
			border-radius: 5px;
			display: none;
			z-index: 999;
			box-shadow: 0px 5px 20px rgba(0,0,0,0.3);

			&.open{ display: block; }

			.arrow-up{
				position: absolute;
				bottom: 100%;
				right: 10%;
				border: 8px solid transparent;
				border-bottom-color: #FFFFFF;
			}

			.caption{
				width: 80%;
				padding: 7% 10%;
				padding-bottom: 2%;
				float: left;
				display: inline-block;
				font-size: 0.75em;
				color: @primary_color;

				&:hover{ cursor: default; }
			}

			a{
				width: 80%;
				padding: 7% 10%;
				float: left;
				display: inline-block;
				text-decoration: none;
				color: #050505;
				border-bottom: 1px solid #FAFAFA;

				i{
					float: left;
					display: inline-block;
					font-size: 1.2em;
					margin-right: 15px;
					margin-top: -2px;
				}

				&:last-child{ border-bottom: 0px; }
				&:hover{ background: @bg_gray; }
			}
		}
	}

	.title{
		float: left;
		display: inline-block;
		padding: 7px;
		margin: 9px 0px;
		margin-left: 7px;
		height: 18px;
		color: #BBBBBB;
		font-family: @topic_font;
		font-size: 1em;
		line-height: 1em;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		max-width: 30%;

		&:hover{ cursor: default; }
	}

	.btn-profile{
		float: right;
		display: inline-block;
		padding: 7px;
		margin: 9px 0px;
		margin-left: 7px;
		height: 18px;
		color: #FFFFFF;
		text-decoration: none;
		font-size: 1em;
		line-height: 1em;
		position: relative;
		font-family: @topic_font;

		&:hover{ cursor: pointer; }

		.notif{
			position: absolute;
			top: 0px;
			left: 0px;
			float: left;
			display: inline-block;
			background: #F44336;
			color: #FFFFFF;
			font-size: 0.7em;
			line-height: 1em;
			padding: 2px 3px;
			border-radius: 3px;
		}

		img{
			float: left;
			display: inline-block;
			width: 32px;
			height: 32px;
			margin-right: 10px;
			margin-top: -7px;
			border-radius: 50%;
		}

		.icon{ margin-left: 5px; }

		.more-menu{
			position: absolute;
			width: 200px;
			top: 105%;
			right: 15%;
			padding: 10px 0%;
			background: #FFFFFF;
			border-radius: 5px;
			display: none;
			z-index: 999;
			box-shadow: 0px 5px 20px rgba(0,0,0,0.3);

			&.open{ display: block; }

			.arrow-up{
				position: absolute;
				bottom: 100%;
				right: 20%;
				border: 8px solid transparent;
				border-bottom-color: #FFFFFF;
			}

			.caption{
				width: 80%;
				padding: 7% 10%;
				padding-bottom: 2%;
				float: left;
				display: inline-block;
				font-size: 0.75em;
				color: @primary_color;

				&:hover{ cursor: default; }
			}

			a{
				width: 80%;
				padding: 7% 10%;
				float: left;
				display: inline-block;
				text-decoration: none;
				color: #050505;
				border-bottom: 1px solid #FAFAFA;

				i{
					float: left;
					display: inline-block;
					font-size: 1.2em;
					margin-right: 15px;
					margin-top: -2px;
				}

				&.btn-logout{ color: @alertcolor; }

				&:last-child{ border-bottom: 0px; }
				&:hover{ background: @bg_gray; }
			}
		}
	}
}

.article{
	width: 50%;
	margin: 0 25%;
	margin-top: 50px;
	float: left;
	display: inline-block;

	&.editor{
		margin-bottom: 10%;
		margin-top: 120px;
	}

	.article-header{
		width: 90%;
		margin: 0% 5%;
		float: left;
		display: inline-block;
		margin-bottom: 3%;

		h1{
			font-size: 2.4em;
			font-family: @topic_font;
		}

		textarea{
			width: 100%;
			float: left;
			display: inline-block;
			padding: 0;
			margin: 0;
			resize: none;
			border: 0px;

			&.article-title{
				font-size: 3em;
				font-family: @topic_font;
				border-bottom: 1px solid #EEEEEE;
				line-height: 1.2em;
				padding: 1% 0%;
				min-height: 50px;
				word-wrap: break-word;
				white-space: pre-wrap;

				// &::-webkit-input-placeholder {
				// 	color: #DDDDDD;
				// }
				// &::-moz-placeholder {
				// 	color: #DDDDDD;
				// }
				// &:-ms-input-placeholder {
				// 	color: #DDDDDD;
				// }
				// &:-moz-placeholder {
				// 	color: #DDDDDD;
				// }
			}
			&.article-desc{
				font-size: 0.9em;
				padding-top: 3%;
				color: #999999;
			}

			&:hover{
				cursor: pointer;
			}
		}
	}

	.option-control{
		width: 90%;
		padding: 2% 0%;
		margin: 1% 5%; 
		float: left;
		display: inline-block;

		.btnAction{
			width: 20%;
			padding: 3% 0%;
			float: left;
			display: inline-block;
			border: 0px;
			font-family: @topic_font;
			line-height: 1em;
			margin: 0px;
			background: transparent;
			color: #333333;
			border-radius: 5px;
			text-align: center;

			&:hover{
				cursor: pointer;
				color: #111111;
				background: #EEEEEE;
			}

			i{
				display: block;
				font-size: 2em;
				margin-bottom: 10px;
			}

			span{
				display: block;
				font-size: 1.1em;
			}
		}
	}

	.between-option{
		width: 100%;
		padding: 1% 0%;
		float: left;
		display: inline-block;
		position: relative;
		border-radius: 10px;

		&:hover{
			cursor: pointer;
			background: #FAFAFA;
		}

		.more-option{
			position: absolute;
			top: -180%;
			left: 0;
			width: 50%;
			margin: 0% 25%;
			float: left;
			display: none;
			background: #FFFFFF;
			box-shadow: 1px 1px 15px rgba(0,0,0,0.2);
			z-index: 99;
			border-radius: 5px;

			.btnAction{
				width: 25%;
				padding: 3% 0%;
				padding-top: 4%;
				float: left;
				display: inline-block;
				text-align: center;
				color: #666666;
				line-height: 1em;

				i{
					display: block;
					font-size: 1.4em;
					margin-bottom: 3px;
				}
				span{
					display: block;
					font-size: 0.7em;
				}

				&:hover{
					color: #333333;
					background: #FAFAFA;
				}
			}
		}
	}

	.content{
		width: 100%;
		float: left;
		display: inline-block;
		border-radius: 10px;
		position: relative;
		.transitionAnimation(0.2s);

		&.textbox{
			width: 90%;
			padding: 5%;

			&:hover{
				background: #FAFAFA;
			}
		}

		&.photoForm{
			.control .btn{
				color: #FFFFFF;
			}
		}

		.topic-input{
			width: 100%;
			padding: 1% 0%;
			float: left;
			display: inline-block;
			font-size: 1.8em;
			font-family: @topic_font;
			// line-height: 1.1em;
			margin: 0px;
			border: 0px;
			color: #333333;
			background: transparent;
			border-bottom: 1px solid transparent;

			&:focus{
				border-bottom: 1px solid #DDDDDD;
			}
		}
		.body-input{
			width: 100%;
			padding: 1% 0%;
			float: left;
			display: inline-block;
			font-size: 1.2em;
			line-height: 1.6em;
			color: #666666;
			border: 0;
			margin: 0;
			background: transparent;
			resize: none;
		}

		h2{
			font-size: 1.6em;
			font-family: @topic_font;
			color: #333333;
		}

		p{
			font-size: 0.9em;
			color: #666666;
		}

		img{
			width: 100%;
			float: left;
			display: inline-block;
			border-radius: 10px;
		}

		.info{
			position: absolute;
			top: 0%;
			width: 12%;
			right: 100%;
			float: left;
			padding: 4%;
			color: transparent;
			display: inline-block;
			.transitionAnimation(0.5s);
			text-align: right;

			.id{
				font-size: 2em;
			}
			.time{
				font-size: 0.7em;
				line-height: 1.2em;
			}
		}

		.control{
			position: absolute;
			top: 0;
			right: 0;
			width: 98%;
			padding: 1%;
			float: left;
			display: inline-block;
			z-index: 99;

			.btn{
				float: right;
				display: inline-block;
				border: 0px;
				background: transparent;
				font-size: 1.1em;
				line-height: 1em;
				padding: 15px;
				.transitionAnimation(0.2s);
				color: #999999;
				border-radius: 10px;

				&:hover{
					cursor: pointer;
					span{ text-decoration: underline; }
				}

				&.hidden{ display: none; }

				span{
					margin-left: 7px;
					font-size: 0.9em;
				}
			}
		}

		.uploading{
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			float: left;
			display: inline-block;
			background: rgba(255,255,255,0.8);
			display: none;

			.inprogress{
				width: 80%;
				margin: 10%;
				float: left;
				display: inline-block;
				background: #FFFFFF;
				border-radius: 5px;

				.bar{
					width: 30%;
					float: left;
					display: inline-block;
					background: #0099a4;
					height: 5px;
					border-radius: 5px;
				}
			}
		}

		img{
			width: 100%;
			float: left;
			display: inline-block;
		}

		.image-alt{
			width: 98%;
			float: left;
			display: inline-block;
			text-align: center;
			font-size: 1em;
			border: 0px;
			padding: 2% 1%;
			background: transparent;
			font-style: italic;
			color: #999999;
		}

		.image-file{ display: none; }

		.preview{
			width: 100%;
			float: left;
			display: inline-block;
			position: relative;

			.imgpreview{
				width: 100%;
				float: left;
				display: inline-block;
				text-align: center;
				background: #DEDEDE;
				border-radius: 5px;

				img{
					width: 100%;
					float: left;
					display: inline-block;
				}

				.btn-choose-image{
					width: 100%;
					padding: 25% 0%;
					float: left;
					display: inline-block;

					i{
						display: block;
						font-size: 4em;
						margin-bottom: 10px;
						color: #FFFFFF;
					}

					span{
						display: block;
						font-size: 0.9em;
						color: #FFFFFF;
					}

					&:hover{
						cursor: pointer;
					}
				}
			}

			.image-option{
				position: absolute;
				bottom: 0;
				right: 0;
				width: 94%;
				margin: 3%;
				float: left;
				display: inline-block;

				.btn{
					float: right;
					display: inline-block;
					padding: 8px 16px;
					border-radius: 20px;
					line-height: 1em;
					color: #FFFFFF;
					border: 1px solid #FFFFFF;
					font-size: 0.75em;
					margin-left: 8px;

					i{
						margin-right: 8px;
					}

					&:hover{
						cursor: pointer;
						background: rgba(255,255,255,0.2);
					}
				}
			}
		}
	}
}

.article-list{
	width: 60%;
	margin: 0% 20%;
	float: left;
	display: inline-block;

	.items{
		width: 100%;
		float: left;
		display: inline-block;
		background: #EEEEEE;
		margin-bottom: 1%;

		h2{ font-size: 2em; }
		p{ font-size: 1em; }
	}
}

.swap{
	position: fixed;
	top: 0;
	right: -8%;
	width: 8%;
	height: 100%;
	float: left;
	display: inline-block;
	background: #EEEEEE;
	z-index: 120;
	overflow-y:scroll;

	.transitionAnimation(0.5s);
	&.-toggle{ transform: translateX(-100%); }

	.swap-items{
		width: 80%;
		margin: 10%;
		margin-bottom: 0%;
		float: left;
		display: inline-block;
		background: #EEEEEE;
		color: #BBBBBB;
		border-radius: 3px;
		font-size: 5px;
		line-height: 1.1em;
		border: 3px solid transparent;
		position: relative;
		max-height: 100px;
		overflow: hidden;

		&.text{
			width: 70%;
			padding: 5%;
			a{ display: none; }
		}

		&.-active{
			border: 3px solid #000000;
		}
		&:hover{
			cursor: pointer;
			border: 3px solid #000000;
		}

		&:first-child{ margin-top: 60px; }

		i{
			width: 100%;
			float: left;
			display: inline-block;
			padding: 15% 0%;
		}

		img{
			width: 100%;
			float: left;
			display: inline-block;
		}
	}
}

/* Other Device and Screen */
@media only screen and (min-width:1910px) {@import "style-1920";}
@media only screen and (min-width:1024px) and (max-width:1365px){@import "style-1024-1366";}
@media only screen and (min-width:760px) and (max-width:1023px){@import "style-760-1023";}
@media only screen and (min-width:520px) and (max-width:759px){@import "style-520-759";}
@media only screen and (min-width:0px) and (max-width :519px){@import "style-0-519";}