@title_fontsize : 1.1em;
@desc_fontsize 	: 0.7em;
@body_fontsize 	: 1.1em;

.header{
	width: 100%;
	padding: 0%;

	.logo{
		height: 28px;
		padding: 14px 5%;

		a{
			font-size: @title_fontsize;
			line-height: 1.5em;
		}

		img{ height: 28px; }
		span{ margin-left: 10px; }
	}

	.btn-icon{
		height: 20px;
		padding: 18px 6%;
		line-height: 1em;
		font-size: 1.1em;

		&.right{ float: right; }
		span{ margin-left: 10px; }
	}

	#btn-category{ display: block; }
}

.navigation{
	position: fixed;
	top: 0;
	right: -80%;
	height: 100%;
	width: 80%;
	padding: 0;
	z-index: 9999;

	a{
		width: 84%;
		font-size: @title_fontsize;
		line-height: 1em;
		height: auto;
		padding: 8%;
		margin: 0;
		border-bottom: 1px solid #EEEEEE;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		i{ margin-right: 8%; }
	}
}

.cover{
	height: auto;
	margin-bottom: 5%;

	img{ margin-top: 0px; }

	.content{
		width: 90%;
		margin: 10% 5%;
		top: inherit;
		bottom: 0;
		text-align: left;

		h1{
			font-size: @title_fontsize * 2;
			line-height: 1.1em;
			margin-bottom: 3%;
		}
		p{
			font-size: @title_fontsize;
			line-height: 1.2em;
		}
	}
}

// Article Container
.section{
	width: 100%;
	margin: 0%;
	margin-top: 5%;
	padding-bottom: 5%;

	h3{
		width: 90%;
		margin: 5%;
		font-size: @title_fontsize * 1.2;
		margin-top: 0%;
		line-height: 1em;

		i{ margin-right: 10px; }

		&.category_name{ display: block; }
	}

	.article-sticky{
		margin-bottom: 5%;
		border-radius: 0px;
		box-shadow: none;
		border: 0;

		.image{ width: 100%; }
		header{
			width: 90%;
			padding: 5%;

			.category{
				font-size: @desc_fontsize;
				margin-bottom: 5%;
			}
			h2{
				font-size: @title_fontsize;
				margin-bottom: 5%;
				line-height: 1.25em;
			}
			p{
				font-size: @desc_fontsize;

				&.info{
					margin-top: 5%;

					.owner{
						line-height: 1.8em;

						img{
							height: 20px;
							margin-right: 10px;
						}
					}
				}
			}
		}
	}

	.lists{
		// Article Card Style.
		.article-card{
			width: 100%;
			margin: 0;
			margin-bottom: 3%;
			min-height: 144px;
			border-radius: 0px;
			border: 0;
			box-shadow: none;

			&.last-child{ margin-bottom: 0; }

			.thumbnail{
				width: 30%;
				padding-top: 7%;
			}
			header{
				width: 60%;
				padding: 5%;

				&.fullsize{ width: 90%; }

				h2{
					font-size: @title_fontsize;
					line-height: 1.25em;
					margin-bottom: 5%;
				}
				p{
					font-size: @desc_fontsize;
					line-height: 1.8em;

					.owner{
						img{
							height: 20px;
							margin-right: 10px;
						}
					}
				}
			}
		}
		
		.empty{
			padding: 10% 0;
			font-size: @title_fontsize;
		}
	}

	a.read-more{
		width: 90%;
		padding: 5%;
		margin: 0%;
		font-size: @title_fontsize;
		border-radius: 0px;

		i{ margin-left: 5px; }
	}
}

.pagination{
	width: 90%;
	margin: 0 5%;

	a{
		padding: 10px 20px;
		border-radius: 5px;
		font-size: @title_fontsize;
	}
}

.article{
	.article-header{
		width: 86%;
		margin: 7%;

		.author{
			margin-bottom: 7%;

			.avatar{
				width: 10%;
				margin-right: 5%;
			}

			.detail{
				width: 85%;
				margin-top: -2%;

				.name{
					font-size: @title_fontsize;
					line-height: 1.35em;
				}
				.desc{
					font-size: @desc_fontsize;
					line-height: 1.25em;
				}

				.position{ display: none; }
			}

			a.btn-edit{
				width: 100%;
				padding: 3% 0%;
				margin-top: 5%;
				font-size: @title_fontsize;
			}
		}

		h1{
			font-size: @title_fontsize * 1.3;
			line-height: 1.2em;
		}

		p.desc{
			font-size: @body_fontsize;
			line-height: 1.4em;
			margin-top: 7%;
		}
	}

	.article-cover{
		height: auto;
		margin-bottom: 7%;

		picture img{ transform: scale(1); }

		.article-header{
			width: 86%;
			padding: 10% 7%;
		}
	}

	section{
		width: 86%;
		margin: 0 7%;
		margin-bottom: 7%;

		h2{
			font-size: @title_fontsize * 1.25;
			margin-bottom: 5%;
			line-height: 1.2em;
		}

		p{
			font-size: @body_fontsize;
			line-height: 1.6em;
		}
	}

	p.content{
		width: 86%;
		margin: 0 7%;
		margin-bottom: 7%;
		font-size: @body_fontsize;
		line-height: 1.5em;
	}

	blockquote{
		width: 86%;
		margin: 0 7%;
		margin-bottom: 7%;

		i.fa-quote-left, i.fa-quote-right{
			font-size: @body_fontsize * 1.3;
		}

		p{
			width: 90%;
			padding: 1% 5%;
			font-size: @body_fontsize * 1.3;
			line-height: 1.5em;
		}
		footer{
			width: 80%;
			padding: 1% 10%;
			font-size: @body_fontsize;
		}
	}

	figure.content{
		width: 100%;
		margin: 0%;
		margin-bottom: 5%;

		.image-not-found{
			padding: 25% 0%;
			font-size: @body_fontsize;
		}

		a.btn-open-map{
			top: 75%;
			right: 5%;
			padding: 15px;
			font-size: @title_fontsize;
		}

		figcaption{
			width: 90%;
			font-size: @desc_fontsize;
			padding: 2% 5%;
		}

		.videoWrapper{ margin-top: 2%; }
	}

	.tag{
		width: 90%;
		margin: 0 5%;
		margin-bottom: 5%;
		padding-top: 5%;

		a{
			margin-right: 5%;
			margin-bottom: 5%;
			font-size: @body_fontsize;
		}
	}

	.documents{
		width: 100%;
		margin: 0%;
		margin-bottom: 5%;
		padding-top: 5%;
		float: left;
		display: inline-block;

		h2{
			width: 90%;
			margin: 0 5%;
			font-size: @title_fontsize * 1.4;
			margin-bottom: 5%;
		}

		.document-items{
			width: 100%;
			margin-bottom: 3%;
			margin-right: 0%;
			border-radius: 0;
			box-shadow: none;
			background: #EEEEEE;

			.icon{
				width: 10%;
				padding: 2% 4%;
				font-size: 1.6em;
			}
			.detail{
				width: 78%;
				padding: 2% 0;
				padding-right: 4%;

				.name{ font-size: @title_fontsize; }
				.desc{ font-size: @desc_fontsize; }
			}
		}
	}
}

.qrcode{
	width: 86%;
	margin: 0 7%;
	margin-bottom: 7%;

	h3{
		font-size: @title_fontsize * 1.4;
		margin-bottom: 3%;
	}

	.qrcode-img{ width: 100%; }
	.guild{
		width: 100%;
		margin-top: 3%;
	}
}

// Facebook Comment Box
.facebook-comment{
	width: 86%;
	margin: 0 7%;
	margin-bottom: 7%;

	h3{
		font-size: @title_fontsize * 1.4;
		margin-bottom: 3%;
	}
}

// Facebook Comment Box
.sharing{
	width: 86%;
	margin: 0 7%;
	margin-bottom: 7%;

	h3{
		font-size: @title_fontsize * 1.4;
		margin-bottom: 3%;
	}

	span{ margin-right: 2%; }
}

.pagehead{
	width: 86%;
	padding: 7%;
	font-size: @title_fontsize;
}

// Search Box Style
form.search{
	width: 100%;
	margin: 0%;

	span{
		width: 20%;
		font-size: @title_fontsize;
		line-height: 2em;
		padding: 2.5% 0%;
	}

	input[type="text"]{
		padding: 2.5% 0%;
		padding-left: 20%;
		font-size: @title_fontsize;
		border-radius: 0px;
	}
}

.footer{
	width: 90%;
	padding: 5%;
	margin-top: 5%;
	text-align: left;

	.link{
		font-size: @title_fontsize;
		margin-bottom: 5%;

		a{
			padding: 2%;
			i{ margin-right: 5px; }
		}
	}

	.license{ font-size: @desc_fontsize; }
}

.page-nav{ display: none; }
.about{
	width: 90%;
	margin: 5%;

	.content{
		padding: 5% 0%;

		h1{
			font-size: 2em;
			margin-bottom: 3%;
		}
		p{
			font-size: 1.1em;
			margin-bottom: 5%;
		}

		figure{ margin-bottom: 5%; }

		.profile{

			.profile-items{
				width: 100%;
				margin-bottom: 3%;
				margin-right: 0%;
				border-radius: 5px;

				.thumbnail{
					width: 25%;
					margin-right: 5%;
				}
				.info{
					width: 70%;
					padding-top: 3%;

					h2{ font-size: @title_fontsize; }
					p{ font-size: @desc_fontsize; }
				}
			}
		}
		
		iframe{
			height: 300px;
			margin-bottom: 5%;
		}
	}
}

.login{
	.logo{
		padding: 5% 0%;
		margin-top: 5%;

		a img{ height: 40px; }
	}

	.content{
		width: 90%;
		margin: 0 5%;
		margin-bottom: 5%;

		.btn{
			padding: 5.6% 0%;
			font-size: @title_fontsize;

			i{ margin-left: 15px; }
		}

		.separator{
			padding: 5% 0%;
			font-size: @title_fontsize;
		}

		.inputtext{
			padding: 3.5% 5%;
			margin-bottom: 5%;
		}
	}

	.message{ font-size: @title_fontsize; }
}

.announce{
	width: 90%;
	margin: 0% 5%;
	margin-top: 45%;

	h2{
		font-size: @body_fontsize * 1.4;
	}

	p{
		margin-top: 2%;
		font-size: @desc_fontsize;
	}

	a{
		margin-top: 15%;
		font-size: @title_fontsize;
		padding: 3% 5%;
		border-radius: 5px;

		i{ margin-right: 10px; }
	}
}