RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

### CATEGORY
RewriteRule ^topic/([0-9]+)$ 			/index.php?category_id=$1 [L]
RewriteRule ^topic/([0-9]+)/([^_]*)$ 	/index.php?category_id=$1&title=$2 [L]

### ARTICLE
RewriteRule ^article/([0-9]+)$ 			/article.php?article_id=$1 [L]
RewriteRule ^article/([0-9]+)/editor$ 	/editor.php?article_id=$1 [L]
RewriteRule ^article/([0-9]+)/option$ 	/editor-option.php?article_id=$1 [L]
RewriteRule ^article/([0-9]+)/([^_]*)$ 	/article.php?article_id=$1&title=$2 [L]
RewriteRule ^article/create$ 			/choose-category.php [L]

### TAG
RewriteRule ^tag/([^_]*)$ 				/tag.php?name=$1 [L]

### PROFILE
RewriteRule ^profile$ 					/profile.php [L]
RewriteRule ^profile/article/([^_]*)$ 	/profile?status=$1 [L]

### ERROR PAGE
RewriteRule ^error/([^_]*)$ 			/error.php?e=$1 [L]

RewriteRule ^signin$ /login.php [L]
RewriteRule ^signup$ /register.php [L]
RewriteRule ^signout$ /logout.php [L]

### API ###
RewriteRule ^api/article$ 		/api/article.php [L]
RewriteRule ^api/user$ 			/api/user.php [L]
RewriteRule ^api/document$ 		/api/document.php [L]
RewriteRule ^api/location$ 		/api/location.php [L]