RewriteEngine On
# RewriteCond %{HTTPS} off
# RewriteRule (.*) https://%{SERVER_NAME}/$1 [R,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

### ARTICLE ####
RewriteRule ^article/([0-9]+)$ 	/article.php?article_id=$1 [L]
RewriteRule ^article/editor/([0-9]+)$ /editor.php?article_id=$1 [L]
RewriteRule ^article/create$ 	/choose-category.php [L]

### API ###
RewriteRule ^api/article$ 		/api/article.php [L]
RewriteRule ^api/user$ 			/api/user.php [L]